[2020-08-12 15:15] magland opened #5 "ResolvePackageNotFound: ndx-franklab-novela"
I get the following error when trying to create the conda environment

[code]

[2020-08-12 15:30] lfrank commented on #5
I just pushed a new (temporary) version to develop_nwbraw that removes that requirement since we’re installing ndx manually. Can you try that?

[2020-08-12 15:37] magland commented on #5
That worked, but now (on python setup.py develop) I get:

[code]

[2020-08-12 15:39] lfrank commented on #5
I’m not sure which package includes datashader, but I think you can ignore that for the moment. Can you see if it works anyhow?
--
Loren M. Frank

Professor
Howard Hughes Medical Institute
Kavli Institute for Fundamental Neuroscience
Departments of Physiology and Psychiatry
University of California, San Francisco
Office Phone: 415-502-7357

[2020-08-13 05:16] #5 closed

[2020-08-21 16:57] shijiegu opened #6 "nwb missing a method"
nwbf has method add_child, but does not have remove_child.
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-23-94a533a6265b> in <module>
----> 1 nd.common.SpikeSorting().populate()

~/anaconda3/envs/nwb_datajoint_test/lib/python3.8/site-packages/datajoint/autopopulate.py in populat

[2020-09-21 00:18] lfrank commented on #6
This has been fixed in the latest pynwb version.

[2020-09-21 00:18] #6 closed

[2020-10-01 22:16] rly opened #7 "Create locked tables"
Create locked tables to make it harder for users to delete the results of preprocessing/analysis.

This should probably be in a new directory (not common; perhaps 'lock') in the repo.
Lock tables, owned by an administrator, should be created for
LFP
SpikeSorting

Others to follow

[2020-10-01 22:58] lfrank opened #8 "Integrate with LabBox Ephys for curating spikesorting"
We need to be able to curate spike sortings and then create a table for the curated spikes in DataJoint.

[2020-10-01 23:02] lfrank opened #9 "Allow import of times and labels from previous spike sorting"
For older data we need to be able to import a curated spike sorting (cluster label, unit times, curation label, sort interval).

This should probably be done by creating a sorting object using SpikeInterface and importing that object and the labels using the curated firings.mda from mountainview.

[2020-10-01 23:03] lfrank opened #10 "Add schema and code for cluster annealing"
Given a spikesorting across epochs, we need to find potential correspondences and save the bootstrapped distances between clusters, etc. in a table so that we can choose linking criteria and get the linked clusters.

[2020-10-01 23:05] lfrank opened #11 "Raw position -> smoothed position (and head direction?)"
Add schema with position smoothing / interpolation parameters and schema to create interpolated position (and perhaps head direction) from raw position data.

[2020-10-01 23:06] lfrank opened #12 "Position timestamp adjustments for older data"
Incorporate position timestamp correction for older data, adaptive from previous Matlab code.

[2020-10-01 23:07] lfrank opened #13 "Mark extraction schema"
Add schema to take waveforms (currently saved following spikesorting) and extract marks based on mark parameters schema.

[2020-10-01 23:11] lfrank opened #14 "Add clusterless / clustered decoding parameter schema and decoded data schema"
As for, for example, LFP extraction, we need a schema with decoding parameters (perhaps two tables, one for clusterless, one for clustered?) and then a separate schema (or two) for the decoded output, with the posterior timeseries saved in an NWB file.

[2020-10-01 23:17] lfrank opened #15 "Write documentation describing best practices for adding a new analysis"
Typically analyses require specific parameters, and our default is to have a manually entered schema with the parameters for a given analysis and then an autopopulated table with the analysis. We need documentation describing that structure and showing examples to make it easier for new users to add analyses.

[2020-10-01 23:35] lfrank opened #16 "Separate raw data into separate nwb file"
We need to separate the raw data into a separate file so that, if necessary, it could be archived following LFP extraction and spikesorting.

[2020-10-15 22:12] EricThomson opened #18 "importing nwb_datajoint in jupyter throws error"
I'm just starting up the nwb_datajoint tutorial (the `Populate_from_NWB_tutorial.ipynb` notebook).

Things seem to be going smoothly (except I had to install `portalocker` as I guess it wasn't in the build recipe).

When I try `import nwb_datajoint as nd` I get the following ImportError (first few lines are cut for brevity) after I enter my username/pw:

When I do the same import just running pyth

[2020-10-15 22:15] lfrank commented on #18
Hi Eric. I’m cc:ing Joshua Chu, the author of the ghostipy package.

Joshua - any idea why Eric would get this error when trying to import your package on windows?

[2020-10-15 22:19] EricThomson commented on #18
I made a virtual env just to test out pyfftw and run some sample code, and it worked ok with _just_ pyfftw and its dependencies on my system.

[2020-10-15 22:30] lfrank commented on #18
I’m not sure what is going on here, although it certainly looks like an error that has to do with insufficient system resources, so I might try looking at the available RAM as you try importing to see if it goes close to zero.

Separately, if you comment out the import ghostipy line you should still be able to do most things, you just won’t be able to filter LFP. Not a permanent solution, but it c

[2020-10-16 00:57] EricThomson commented on #18
A few things:  RAM was fine I monitored that the entire time. I tried installing ghostipy in a fresh environment and got some weird errors that hinted at impending install hell, so I changed to python=3.7 in `environment.yml` and it worked (though when I ran the jupyter notebook the following error popped up, but I just clicked OK and things seemed to work:  ```the procedure entry point ?pywinobje

[2020-10-16 01:18] EricThomson opened #19 "storage_dirs.kachery_storage_dir() throws error in Windows"
Running through `Populate_from_NWB_tutorial.ipynb`:
[code]

Later the following throws an error:
`nd.insert_sessions(['beans20190718-trim.nwb'])`

It's because I'm in windows with the weird backward/forward slash mixing.  I temporarily fixed it using an absolutely horrible hack in `storage_dirs.py` changing the assertion to:
`assert p == base + '/kachery-storage' or p == base + '\kachery-storage'`

[2020-10-16 02:32] EricThomson opened #20 "LFP tutorial nd.common.LFP().populate() throws error (no such file or directory)"
Another minor issue.

In nwbdj_lfp_tutorial.ipynb, running `nd.common.LFP().populate()` threw an error:

Once I created an `analysis` directory in my base directory everything was fine.

[2020-10-16 20:33] lfrank commented on #19
This should be fixed in the develop_nwbraw branch. We’ll merge that into master soon.

[2020-10-16 23:34] lfrank opened #21 "New linkraw files don't have acquisition object"
After merging the new changes I was not able to run the populate notebook. It errors out in the DIOEvents (see below), but it has an initial problem where it cannot find the acquisition object.

Opening the nwbfile gives me something that doesn't contain an acquisition object at all, so I think that needs to be fixed.

[code]

[2020-10-16 23:38] rly commented on #21
That's odd. This was working on my end based on the older develop_nwbraw code, so the error must have arisen from merging our changes. I'll take a look at this today.

[2020-10-16 23:40] lfrank commented on #21
Thanks much.

Loren
--
Loren M. Frank

Professor
Howard Hughes Medical Institute
Kavli Institute for Fundamental Neuroscience
Departments of Physiology and Psychiatry
University of California, San Francisco
Office Phone: 415-502-7357

[2020-10-20 04:45] #21 closed

[2020-10-20 04:45] lfrank commented on #20
I added a comment in the notebook to make it clear that this directory needs to exist.

[2020-10-20 04:45] #20 closed

[2020-10-20 04:46] lfrank commented on #16
This is now working

[2020-10-20 04:46] #16 closed

[2020-10-20 04:49] lfrank commented on #7
Added to the develop_nwbraw branch. It requires two additional environment variables; see the nwbdj_lock_schema_test notebook

[2020-10-20 04:49] #7 closed

[2020-10-20 18:01] edeno opened #23 "Make readthedocs site for documentation"

[2020-10-20 21:34] edeno opened #24 "Add fields to SpikeSorting?"
@acomrie suggested:
+ time of sort
+ user
+ time to compute

Could also be google doc.

[2021-03-01 23:35] jihyunbak opened #29 "spikesorting tutorial - overwrite not supported by latest spikeextractors release"
Running this cell in the tutorial notebook `1_spikesorting.ipynb`:

[code]

This gives the following error:

[code]

The keyword argument `overwrite` was introduced to spikeextractors as part of [this Dec 12, 2020 PR](https://github.com/SpikeInterface/spikeextractors/pull/524);
at the time of submitting this issue, the latest release of spikeextractors was on [Dec 9, 2020, version 0.9.3](https://g

[2021-03-02 07:00] jihyunbak opened #32 "Clarify value of KACHERY_P2P_API_PORT"
Current README includes this line:

[code]

Two issues:

- This variable is required for the spike sorting tutorial notebook (tutorial 1).
- Not sure how this port number should be chosen. At first I tried an arbitrary number (actually the port number that was in the tutorial notebook), and it did not work. What worked for me was to first start a kachery p2p daemon (using the `kachery-p2p-start-da

[2021-03-05 07:39] #29 closed

[2021-05-04 21:52] rly opened #36 "Cannot import nwb_datajoint"
After updating master, I get the following error on `import nwb_datajoint` even after reinstalling the package with its updated requirements. There seems to be an issue with the `SortGroup` table. @khl02007 Did some configuration change?

[code]

[2021-05-04 23:26] khl02007 commented on #36
Thanks for reporting this. I cannot seem to reproduce it on my end - I'm surprised because `SortGroup` table did not change.
I assume you just did `pip install -e .` after pulling the latest? Does this persist if you create a new conda environment (not sure if that's how you're setting it up...)

[2021-05-05 00:02] #36 closed

[2021-05-05 00:05] rly commented on #36
I figured it out. There was a missing import from an earlier commit. I'm surprised that you are not also seeing the same error though.

[2021-05-05 01:41] khl02007 commented on #36
Hmm, it seems `Session` is referenced in the table definition of `SortGroup`. For some reason I don't get an error with that line commented out. Is it because `Session` is imported in init? or is this a datajoint issue (I'm using version 0.13.1)?

[2021-05-05 04:51] khl02007 commented on #32
This has been updated. Please set `KACHERY_P2P_API_PORT` environment variable to be 14747. This should allow you to access the kachery daemon running on typhoon from any computer connected to our network.

[2021-05-05 04:51] #32 closed

[2021-05-05 05:56] rly commented on #36
I'm also using datajoint==0.13.1. Did you not get the error when creating a new conda environment, installing via `pip install -e .`, starting python and running `import nwb_datajoint`?

Normally I would not push on this, but it sounds like something is unusual with your development environment and this could lead to uncaught errors later.

[2021-05-05 20:00] khl02007 commented on #36
I agree that this is something to look into. I just tried it again - created a new conda environment from `environment.yml` and then did `pip install -e .` to install `nwb_datajoint`. When I do `import nwb_datajoint` I don't get an error. Strange...

[2021-06-09 19:22] jihyunbak opened #40 "IntegrityError while inserting SpikeSortingParameters"
I am running the current tutorial notebook `1_spikesorting.ipynb` in the main branch.

After running this cell
[code]

this dict `key` looks like

[code]

Then when I run this cell,

[code]

I get an `IntegrityError` as follows:

[code]

[2021-06-09 19:27] jihyunbak opened #41 "MissingAttributeError while inserting SpikeSorterParameters (minor issue)"
Running the current tutorial notebook `1_spikesorting.ipynb`… this bug was _before_ I reached the error reported in issue #40 . This was small enough I could fix and proceed.

When inserting the SpikeSorterParameters, current cell looks like:

[code]

This gives the following `MissingAttributeError`:

[code]

I was able to fix this by doing

[code]

[2021-06-09 19:49] lfrank commented on #40
That’s a result of our tutorial notebook being slightly out of date.

try
cluster_metrics_list_name = ‘franklab_default_cluster_metrics'

The problem is that the cluster metrics list named “test” isn’t in the spike_sorting_metrics table.

[2021-06-09 19:54] jihyunbak commented on #40
That worked, thanks @lfrank !

[2021-06-09 19:58] jihyunbak opened #42 "[tutorial] errors while running SpikeSorting.populate()"
Still in the tutorial notebook `1_spikesorting.ipynb`, and issues #41 and #40 fixed. The SpikeSortingParameters are successfully inserted, and `(SpikeSortingParameters & {'nwb_file_name' : nwb_file_name2})` has my entry in it.

When I run this cell to populate

[code]

The output and error:

[code]

[code]

[2021-06-09 20:00] lfrank commented on #42
Sorry, that’s a bug. If you have time to fix it, you could add a “try” statement before that line with
except:
	max_analysis_file_num = 0

[2021-06-09 20:00] jihyunbak commented on #42
Thanks Loren, I can add that!

[2021-06-09 20:11] jihyunbak commented on #42
OK, I was able to fix the bug above, but now got another error.

Still running this cell
[code]

These are the output and error messages now:

[code]
[code]

[2021-06-09 21:11] jihyunbak commented on #42
This ^ has to do with `spikeextractors` version. Keyword argument `es_key` was introduced after the latest released tag (0.9.6) - we need local install at this time.

[2021-06-09 21:15] jihyunbak commented on #42
Or perhaps we could point to a specific spikeextractors commit from our environment.yaml

[2021-06-10 05:47] #40 closed

[2021-06-10 05:47] #41 closed

[2021-06-10 05:47] #42 closed

[2021-06-22 05:41] khl02007 opened #45 "Lockfile"
@lfrank @edeno How should we handle locking of the files? Where should the lockfiles live, i.e. where should `NWB_LOCK_FILE` and `ANALYSIS_LOCK_FILE` env vars point to?

[2021-06-22 07:00] khl02007 opened #46 "Permission to workspace"
@lfrank How should we set up the permissions? Would it work to:
1. have a dj.manual table where the attributes are the user name (primary) and google account
2. during spike sorting, get the user name, query for the google account based on user name from the table from 1
3. give that google account permission to access the workspace containing sorting results

[2021-06-22 14:25] lfrank commented on #46
Hi Kyu. That sounds like a good plan to me. I implemented the username lookup already as part of the curated sorting table, so you can grab that code and add the reference to the sort owner to the sorting table.

The only other thing I can think of here is that if we want a transparent way of giving permissions to multiple people, then we’d want two new tables or a table with a part table where we

[2021-06-22 16:56] lfrank commented on #45
export ANALYSIS_LOCK_FILE="/home/lorenlab/nwb_datajoint_lock/.lockfile”

should work.

I’m not yet running the code to actually put things in the lock, but perhaps that’s something you could look into when you have time.

[2021-06-22 16:59] khl02007 commented on #46
I think so. Would this parts table be under the table of user names / google accounts? or would it be under spike sorting?

[2021-06-22 17:01] khl02007 commented on #45
but that lockfile doesn't actually exist yet right? is there a reason why it's in lorenlab rather than /stelmo/nwb?

[2021-06-22 17:02] lfrank commented on #46
Here’s a first version, now in the labteam branch.

@schema
class LabTeam(dj.Manual):
    definition = """
    team_name: varchar(80)
    ---
    team_description='': varchar(200)
    """

    class LabTeamMember(dj.Manual):
        definition = """
        ->Master
        ->LabMember
        """

class LabMember(dj.Manual):
    definition = """
    lab_member_name: varchar(80)
    ---
    first_

[2021-06-22 17:03] lfrank commented on #45
It doesn’t yet exist, and if you’d prefer for it to be in stelmo that’s fine; pick a location (and make the directory) and then we can try it out by hand. Assuming it works, we can add a crontab job on hippo to check it every minute or so.

--

[2021-06-27 09:36] khl02007 commented on #46
This feature was merged to the master branch with a little bit of tweak. But as I was working on this I started thinking that maybe we should not include people's gmails in our tables (for privacy/security reasons). How about maintaining a separate file (kept secret) with names and google accounts and referring to it for setting permissions?

[2021-07-01 05:29] MichaelCoulter opened #48 "import fails with tutorial notebook"
---------------------------------------------------------------------------
DataJointError                            Traceback (most recent call last)
<ipython-input-1-3ef391de082d> in <module>
      2 import numpy as np
      3
----> 4 import nwb_datajoint as nd
      5 import datajoint as dj
      6

~/nwb_datajoint/src/nwb_datajoint/__init__.py in <module>
      9 import ndx_franklab_novela

[2021-07-01 05:34] khl02007 commented on #48
Current hypothesis is that this is due to permissions to some tables not extending to some of the users. @edeno fixed this. Please try it again and let us know if the problem persists.

[2021-07-03 21:26] xlsun79 opened #49 "ImportError: cannot import name 'LabTeam' from 'nwb_datajoint.common'"
When trying to run the intro notebook of nwb_datajoint tutorials, it reported (also see the attached pic):
ImportError: cannot import name 'LabTeam' from 'nwb_datajoint.common'

I've git pulled the most recent repo but the problem still happens.
<img width="1440" alt="Screen Shot 2021-07-03 at 2 24 59 PM" src="https://user-images.githubusercontent.com/14901464/124367281-ade23980-dc0a-11eb-9cc6-9df

[2021-07-03 21:53] khl02007 commented on #49
Just to make sure: did you restart the python kernel and try importing after pulling the latest?

[2021-07-03 21:56] khl02007 commented on #49
And are you using `pip install -e .` to install `nwb_datajoint` (rather than `pip install nwb_datajoint`)? I would do the former because it is still under active development.

[2021-07-04 01:35] xlsun79 commented on #49
Thanks Kyu! I wanted to make sure that I did it in the right order, this time I 1) shut down all kernels that I previously ran, 2) pulled the most up-to-date repo, and 23 reinstalled datajoint using pip install -e ., but now if I open python and try "import nwb_datajoint", it says "no module found: kachery_client". Did I break anything when reinstalling the package?

[2021-07-04 02:02] xlsun79 commented on #49
Nvm it's all good now! I pip installed the recent kachery-client package :) and the original bug is gone too after I reinstalled the nwv_datajoint package

[2021-07-04 05:01] khl02007 commented on #49
Oh yes, I recently added `kachery-client` to one of the dependencies in our `environment.yaml`. Anyway, glad it got resolved, closing issue...

[2021-07-04 05:01] #49 closed

[2021-07-05 17:21] edeno commented on #48
Definitely a failure on my part to set on the permissions.

[2021-07-05 17:21] #48 closed

[2021-07-05 21:37] xlsun79 opened #50 "'ndx-franklab-novela' is not a namespace"
Was running spikesorting.populate() and got the "'ndx-franklab-novela' is not a namespace" error (sorry the trace is too long):
[KeyError.docx](https://github.com/LorenFrankLab/nwb_datajoint/files/6766257/KeyError.docx)

[2021-07-05 23:22] lfrank commented on #50
That’s an issue with the version of spikeextractors you are using. If you look at the environment.yml file in the latest version of the nwb_datajoint repo you can find the particular version we currently use. It might be easiest to just recreate the nwb_datajoint environment, though, following the instructions on the github site.

[2021-07-06 20:06] xlsun79 commented on #50
Thanks Loren! I recreated the environment and it worked :)

[2021-07-06 20:59] #50 closed

[2021-07-07 16:09] jguides opened #51 "Module not found error when importing nwb_datajoint"
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-de2a2a4e1984> in <module>
      3 import numpy as np
      4
----> 5 import nwb_datajoint as nd
      6
      7 # ignore datajoint+jupyter async warnings

~/Src/nwb_datajoint/src/nwb_datajoint/__init__.py in <module>
      9 import

[2021-07-07 16:11] jguides commented on #51
@khl02007 @lfrank @edeno, I'm wondering if you have any ideas about this error? FYI, I git pulled before running this.

[2021-07-07 16:15] lfrank commented on #51
@jguides

This means that kachery-client hasn’t been installed. Try
pip install kachery-client

This should have been installed when you did step 2 of the installation:

cd nwb_datajoint
conda env create -f environment.yml
conda activate nwb_datajoint

So you might want to redo that.

[2021-07-08 01:05] jguides commented on #51
Thanks Loren! Deleting and recreating the environment solved the problem.

[2021-07-08 01:05] #51 closed

[2021-07-09 23:41] emilymonroe95 opened #52 "Exception: Not connected to daemon and not in offline mode."
When I try to populate SpikeSorting, everything looks as if it is running normally, saves the sorting results, adds some metrics, gets to "Generating feed for curation...", and then I get this error.
<img width="1023" alt="Screen Shot 2021-07-09 at 4 38 03 PM" src="https://user-images.githubusercontent.com/70163079/125144863-1da56800-e0d4-11eb-9d48-fdbe5e9ff001.png">

[2021-07-10 00:04] jihyunbak commented on #52
Thanks @emilymonroe95 for posting this! Forgot to create an issue, but I was getting the same error when I tried on Monday.

[2021-07-10 00:05] khl02007 commented on #52
Seems like you were running when the daemon was down. It is now up again. Could you see if this still happens? if not resolved I will try to recreate this on my end and get back to you

[2021-07-10 02:50] khl02007 commented on #52
@emilymonroe95 @jihyunbak Could you guys upgrade kachery client (`pip install --upgrade kachery-client`) and then do `kachery-info` in a terminal? This should tell you whether you have access to kachery daemon or not (kachery daemon access is required to do curation using `sortingview` web app)

[2021-07-12 18:30] emilymonroe95 commented on #52
Getting the same error today.

[2021-07-12 18:32] emilymonroe95 commented on #52
After running these, I get "AssertionError: Unable to connect to daemon."
<img width="689" alt="Screen Shot 2021-07-12 at 11 32 07 AM" src="https://user-images.githubusercontent.com/70163079/125338279-d94cde80-e304-11eb-906c-dd6f218bc487.png">

[2021-07-12 20:12] khl02007 commented on #52
Hmm, I cannot reproduce it on my end. I just restarted the kachery daemon and sortingview backend, could you try again? let me know what you get when you do `kachery-info`

[2021-07-12 20:27] emilymonroe95 commented on #52
I get the same thing.

[2021-07-12 20:30] khl02007 commented on #52
Can you do `groups` on terminal and tell me what you get? do you see `kachery-users` as one of the outputs?

[2021-07-12 20:46] emilymonroe95 commented on #52
"emonroe sudo kachery-users" is the output

[2021-07-12 21:12] khl02007 commented on #52
what is the output of `pip list | grep kachery`?

[2021-07-12 21:43] emilymonroe95 commented on #52
kachery                           0.6.7
kachery-client                1.0.10
kachery-p2p                   0.8.31

[2021-07-13 18:01] khl02007 commented on #52
Can you make sure that these are the only environment variables you have set for nwb_datajoint:
[code]

[2021-07-18 00:01] jguides opened #53 "no google user id"
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
/tmp/ipykernel_373368/3289229830.py in <module>
      1 # Specify entry (otherwise runs everything in SpikeSortingParameters)
      2 # `proj` gives you primary key
----> 3 SpikeSorting.populate([(SpikeSortingParameters & {'nwb_file_name': nwb_file

[2021-07-18 00:42] jguides commented on #53
This was fixed by creating an entry for myself in the LabMember.LabMemberInfo table.

[2021-07-18 00:42] #53 closed

[2021-07-19 23:57] acomrie opened #54 "TaskEpoch() not populating"
TaskEpoch() is empty, and although TaskEpoch().populate() runs without errors, it does not populate the table. How can I fill in TaskEpoch()? Thank you.

[2021-07-20 00:06] lfrank commented on #54
There must be some mismatch between the fields in the NWB file that TaskEpoch expects and what it is getting. The best approach is to run the populate command in a debugger and step through line by line to see what happens when it tries to get the task information from the file.

[2021-07-20 17:29] emilymonroe95 commented on #52
Updating these variables worked, but also had to be done after killing all tux sessions for updates to make it in.

[2021-07-20 17:29] #52 closed

[2021-07-21 17:59] acomrie commented on #54
TaskEpoch now populates (per commit on 7/21/21 edit to get_data_interface).

[2021-07-21 17:59] #54 closed

[2021-07-22 15:25] rly opened #56 "Allow user config of NWB naming convention and hierarchy"
The data import code assumes certain names for NWB objects. For example, it is assumed that spatial position data exists in a pynwb.behavior.Position object named "position" anywhere in the file. Datasets not generated by the Frank Lab may not follow this convention for their spatial position data - it may use a different name or there might be multiple pynwb.behavior.Position objects named "posit

[2021-07-22 23:42] #18 closed

[2021-07-22 23:42] #19 closed

[2021-08-02 23:21] lfrank commented on #13
This is now in the code

[2021-08-02 23:21] #13 closed

[2021-08-04 00:24] rly opened #62 "Potential issue: LFP table has no filtered_data_object_id"
In reading through the code, I saw these lines in the `LFP.nwb_object` method:

https://github.com/LorenFrankLab/nwb_datajoint/blob/611864e86d5a7d9c64cc48e57ccc981bcf5b1e24/src/nwb_datajoint/common/common_ephys.py#L348-L349

This seems to be a typo because the `LFP` table has no 'filtered_data_object_id' property, so this fetch will always return nothing (or raise an error). Note that `LFP` has a

[2021-08-04 00:33] lfrank commented on #62
Thanks. that is used and needs to be fixed. I’ll see if I can get that done shortly.

[2021-08-04 23:10] rly opened #63 "Account for breaking changes in SpikeInterface"
SpikeInterface recently released version 0.90.0 which breaks compatibility with previous versions 0.12 and 0.13: https://spikeinterface.readthedocs.io/en/latest/

One of the breaking changes is that SpikeInterface-related packages, such as spikesorters, spikeextractors, etc. are no longer included and must be installed separately. `environment.yml` needs to be updated accordingly.

There may be ot

[2021-08-04 23:12] rly commented on #63
To be clear, the current install instruction `conda env create -f environment.yml` does not create a working environment because spikeinterface==0.90 gets installed, which means packages like spikesorters and spiketoolkit are not installed.

[2021-08-04 23:22] khl02007 commented on #63
Thanks, will look into this

[2021-08-05 20:38] khl02007 opened #65 "use high efficiency recording extractor when saving filtered data during spike sorting"

[2021-08-05 20:40] khl02007 opened #66 "provide option of recomputing metrics after each type of curation"

[2021-08-05 20:48] khl02007 opened #67 "burst merge in automatic curation"

[2021-08-05 20:48] khl02007 opened #68 "noise detection in automatic curation"

[2021-08-05 23:11] khl02007 commented on #63
Did first TODO, second one will take more work because quite a lot changed
https://spikeinterface.readthedocs.io/en/latest/releases/0.90.0.html#release0-90-0

[2021-08-08 08:52] khl02007 commented on #63
Seems like quite a bit of stuff that we need is not implemented yet in spikeinterface 0.90 (e.g. writing recording and sorting to nwb files, computing some of the metrics like noise overlap etc) so will hold off on migrating completely to it for now to preserve functionality

[2021-08-08 14:54] lfrank commented on #63
Makes sense. Are there feature requests for the things we need?

[2021-08-17 00:41] cristofer-holobetz opened #72 "Incorrect syntax in tutorial notebook 0"
Cell 13 in 0_intro.ipynb says the following:

The following query returns all `interval_list_name` that is not `01_s1` or `04_r2`

`((IntervalList & {'nwb_file_name':nwb_file_name2}) - ({'interval_list_name':'01_s1'} and \
                                                      {'interval_list_name':'04_r2'})).fetch('interval_list_name')`

Desired output:

`array(['02_r1', '03_s2', 'pos 0 valid time

[2021-08-18 00:15] khl02007 commented on #72
Thanks, should be fixed now

[2021-08-18 00:15] #72 closed

[2021-08-28 00:34] lfrank opened #73 "SpikeSorting: check to see if recording extractor has been created"
There will likely be times when one wants to sort the same data multiple times (e.g. with different sorters) and in these cases we should check the SpikeSorting table to see if all of the parameters are the same as those for a previous sort, and if so we should get the recording extractor from that workspace if it exists.

[2021-08-28 00:36] lfrank opened #74 "AutomaticCurationSpikeSorting: delete sorting when table entry deleted"
Currently we add a new sorting to the workspace when AutotomaticCurationSpikeSorting is populated. We should add a delete() method that deletes this sorting before deleting the requested table entry or entries.

[2021-09-20 18:41] edeno commented on #11
closed by 1e04f746f8b000d13a2a6b6c4451e3ced898752d

[2021-09-20 18:41] #11 closed

[2021-09-20 19:14] jguides opened #79 "ImportError: cannot import name 'append_docstring' from 'bokeh.util.string'"
After git pulling the most recent nwb_datajoint and reinstalling the conda environment, on running import nwb_datajoint I get the following error. Thanks for any help.

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/tmp/ipykernel_1993081/3902334258.py in <module>
      7 # dj.config['database.

[2021-09-21 05:46] jguides commented on #79
Deleting and recreating the conda environment eventually solved the issue.

[2021-09-21 08:35] rly opened #80 "Nightly test exception on `import hither`"
Nightly tests are failing due to an update in hither 0.8.1 which has deprecated the usage of `import hither` in favor of `import hither2`.

[code]

[2021-09-21 08:38] rly commented on #79
I'm glad you were able to resolve the issue. I'll close this issue but feel free to reopen it if the problem returns.

[2021-09-21 08:38] #79 closed

[2021-09-21 19:03] rly opened #82 "Update kachery tables"
There are already NwbfileKachery and AnalysisNwbfileKachery tables:
https://github.com/LorenFrankLab/nwb_datajoint/blob/master/src/nwb_datajoint/common/common_nwbfile.py#L412

but it stores the hash rather than the full URI.

[2021-09-22 22:56] lfrank commented on #80
@jsoules This something Jeremy initially added, and I'm not sure how to make it compatible with hither2. I asked him about it in our slack channel, but if you are familiar with this and know what to do that is future compatible, please let us know.

[2021-09-23 02:52] jsoules commented on #80
@lfrank Looks like the test(s) in question are in https://github.com/LorenFrankLab/nwb_datajoint/blob/master/tests/datajoint/_datajoint_server.py ?

As near as I can recall, hither2 is just a consolidation/renaming of hither. The one trick that I can see is that hither2 (or the current version of hither, more like) may not export the `ShellScript` class--which I think is currently defined in kache

[2021-09-23 03:40] lfrank commented on #80
@rly Would you be able to touch base with Jeff on this one?

[2021-09-23 07:14] rly commented on #80
Thanks @lfrank and @jsoules. I fixed the test by importing ShellScript from kachery-client.

[2021-09-23 07:22] #80 closed

[2021-09-24 05:02] #8 closed

[2021-09-24 20:05] acomrie opened #85 "Address ResourceWarning: unclosed file ?"
During population of CuratedSpikeSorting (and when calling populate method on downstream tables, such as UnitMarks), warnings are given regarding unclosed nwb files. In case these files are staying open somewhere and taking up resources unnecessarily, we may want to address this. It is just a warning and might be totally harmless; it is not blocking. See two example warnings below.

[code]
[code]

[2021-09-25 06:43] rly opened #86 "Tests randomly have timeout errors when downloading test file"
In the CI test suite, we use kachery to download a test file
https://github.com/LorenFrankLab/nwb_datajoint/blob/bd2e0e6be22b5c52cec020eaee3d983376501c66/tests/test_1.py#L18-L20

This was working fine for weeks, but in the last 24 hours, the test has failed a couple times, randomly, due to a `TimeoutError` when downloading the file using kachery > urllib.

Re-running the test often resolves the is

[2021-09-25 06:46] rly commented on #86
It turns out that re-running the test makes the old error log difficult to find so I have copied it here:

<details>
  <summary>Click to expand!</summary>
[code]
</details>

[2021-09-25 07:07] rly commented on #85
A quick investigation suggests that this is an issue with datajoint where the file opened by `Path(filepath).open("rb")` is not closed. A context manager should be used to close the file after opening it and computing the UUID. This line is called when adding a file to the external store, which happens when `nwb_datajoint` creates an `AnalysisNwbFile` after curated spike sorting.

This should not

[2021-09-25 12:36] jsoules commented on #86
This occurred within the last 24 hours? What channel are you downloading the test file from?

We had a power transformer explode in front of the building on Thursday afternoon and had to bring down the cluster and all workstations here as a precautionary measure. For at least some channels, that meant there were no longer any peers online that actually had the files, until around 11 AM EDT yesterd

[2021-09-28 06:23] rly commented on #86
Thanks for the quick response @jsoules ! The timeout errors occurred around 1pm and 8pm ET on Friday. I believe Jeremy set up this test initially and did not configure pulling the file from a particular channel so I assume it is being hosted only at the Flatiron Institute. The error has not returned in the last three nightly CI builds, so probably it was a temporary issue related to the Flatiron c

[2021-09-28 23:10] rsnevers opened #87 "NWB file insertion fails"
I'm unable to insert NWB files into the Datajoint tables, and I'm specifically getting an error with the raw position. Here is the error message:

[code]
It should be noted that we have a custom position tracking solution outside of the default used in Trodes, but the structure of our resulting binary files should be the same as what's put out by Trodes. We didn't get this error previously when we

[2021-09-30 18:27] edeno commented on #87
I believe this was the result of a circular import. I reverted the commit and everything seems to be working now.

[2021-09-30 18:27] #87 closed

[2021-10-03 01:38] jguides opened #88 "Unable to find client auth file error when importing nwb_datajoint"
After git pulling the most recent repo and reinstalling the environment, I get this error message when importing nwb_datajoint. Thanks in advance for any help.

Connecting jguidera@lmf-db.cin.ucsf.edu:3306

---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
/tmp/ipykernel_1537406/4165658341.py in <

[2021-10-03 14:43] jguides commented on #88
This error happens when the kachery daemon isn't running. This can happen when the machine hosting the kachery daemon reboots. The kachery can be restarted.

[2021-10-03 14:43] #88 closed

[2021-11-09 06:24] khl02007 opened #94 "IntervalList issues"
@edeno @lfrank Is there a reason why `IntervalList` is a Manual table? Seems like it should be Imported (like `ElectrodeGroup`) since it is populated from the NWB file. And why does `PositionSource` call `IntervalList.insert`? Shouldn't it be called directly during `populate_all_common`?

[2021-11-09 08:34] khl02007 commented on #94
I was also puzzled as to why we have `SortInterval` when we already have `IntervalList`, but I think I understand now: this is because `SortInterval` simply contains arbitrary time intervals specified by the user, but this may encompass times for which data is missing, so one has to fix this by looking up `valid_times` in `IntervalList`. How about adding a `valid_times` column to `SortInterval` di

[2021-11-09 17:10] lfrank commented on #94
It would be fine to add a valid times column to SortInterval, and this organization was chosen only because the old SpikeInterface didn’t allow for the specifications of multiple intervals of data. In that case the code would need to check to see if that column had a valid element and if not, it would do the computation (I thiink)

Making it into another IntervalList entry would be okay as long as

[2021-12-10 09:44] khl02007 opened #97 "Github actions fail"
https://github.com/LorenFrankLab/nwb_datajoint/runs/4481294801?check_suite_focus=true

seems to be at the step where conda env is set up

@rly

[2021-12-10 17:12] rly commented on #97
This was due to my updating the ndx-franklab-novela extension requirements to use the latest hdmf/pynwb, while nwb-datajoint did not allow the latest hdmf/pynwb. I just merged #96, which updates this repo to use the latest hdmf/pynwb and which fixes the issue.

[2021-12-10 17:12] #97 closed

[2021-12-21 22:10] rsnevers opened #98 "Unable to filter in LFP Band with referencing"
When referencing LFP data before filtering, there appears to be an error with indexing into the LFP data (line 495 - 496 in common_ephys). The data to be referenced is of size N, but when the reference signal is subtracted, the resulting array is size N x N. I don't know the exact details, but this appears to be caused by indexing into lfp_data with a whole list rather than just an index. I suspec

[2021-12-22 03:48] khl02007 commented on #98
@rsnevers Could this be because one array is of size (1,N) and the other array is of size (N,1)? If you subtract one from the other in that case you get a (N,N) array.

[2021-12-22 14:29] edeno commented on #98
+1 for @khl02007 's answer. You can use np.squeeze() to make sure the singleton dimension is gone.

[2021-12-22 18:14] rsnevers commented on #98
@khl02007 This is probably what's happening, and I was able to fix things locally but am not exactly sure if my changes will generalize. There are a couple of lists of reference electrode indices, and I'm not sure which is supposed to be used. One of these lists is the output of the get_electrode_indices helper function, and it was actually never used anywhere in the method, so I assumed that this

[2022-01-02 20:49] lfrank commented on #98
I think I fixed this in the lfp_ref_fix branch. Rhino - could you try it out and let me know?

On Dec 22, 2021, at 10:14 AM, rsnevers ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

@khl02007<https://urldefense.com/v3/__https://github.com/khl02007__;!!LQC6Cpwp!9r16iFH23WH54XcIV7T1Ypkc5pegzSQ19AG4I6OCMriFnF_oAWfvh9fiw8r0fjD

[2022-01-08 00:32] MichaelCoulter opened #100 "marks generation doesn't work if a tetrode has dead channels"
in line 99 of cluterless.py
marks = np.empty(0,4) doesnt run if there are fewer than 4 channels on the tetrode, when there is a bad channel.
one possible fix is replacing line 99 with
marks = np.empty((0, waveforms[0][0].shape[0]), dtype='int6')

[2022-01-09 21:55] lfrank commented on #100
Just a note that I think it should be 'int16'
Mike - I think your fix should be fine; do you know how to make a pull request for this sort of thing?

[2022-01-10 22:55] acomrie opened #102 "formalize custom code location"
@edeno per your request, following up on our conversation, just leaving this here so discussion can be opened up about it -

Would be handy for the lab to have a recommended directory location for custom datajoint analyses/schema (that is, user_X.py modules).

Would be good for that recommended location to allow users to keep their custom code in their own github repo, as well as easily interact w

[2022-01-14 01:28] #100 closed

[2022-01-22 00:24] acomrie opened #113 "set permissions for nwb file copy"
Currently, although data are backed up, it is possible for anyone in kachery-users group to delete most underscored nwb file copies in the the shared /stelmo/nwb/ directory.

Per conversation with @lfrank, a potential proposal is to expect that (1) users are responsible for file permissions on the raw no-underscore nwb file, but that (2) permissions for the underscored nwb file copy are limited to

[2022-01-24 23:40] dpeg22 opened #114 "Update 0_intro to reflect changes to 1_spikesorting"
0_intro tutorial notebook needs to be updated to reflect changes to 1_spikesorting in #109. This update may also include a more comprehensive demonstration of how to interact with our tables.

[2022-01-25 20:14] greer415 opened #115 "Typo in LFPBand"
Line 490 in common_ephys.py:
`lfp_band_elect_id = lfp_band_ref_id[lfp_sort_order] `
should read:
`lfp_band_elect_id = lfp_band_elect_id[lfp_sort_order] `

[code]

[2022-01-27 22:59] #115 closed

[2022-02-16 21:39] magland opened #120 "adjustments to dj_local_config_template.json"
The following adjustments should be made to `dj_local_config_template.json`

Need to add stores for "raw" and "analysis":

[code]

Also, `null` doesn't work for `database.host`. Better to set it to "localhost".

Should mention in the README that user should create `dj_local_config.json` and place it in the directory where they are going to be running the jupyter server.

[2022-02-16 22:08] magland commented on #120
Note: it seems that the "stage" field is also needed for "raw" and "analysis".

[2022-02-16 22:10] lfrank commented on #120
Just FYI on these, we have a script in the config directory that we use to set these up: dj_config.py; this is point 4 in the instructions, and I wanted to find out whether you were using that (as I didn’t know about the json file until now).

On Feb 16, 2022, at 2:08 PM, Jeremy Magland ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your org

[2022-02-17 14:19] magland commented on #120
Oh thanks, I accidentally overlooked that step. If this is the preferred way to do it then I'd recommend removing `dj_local_config_template.json` to prevent confusion. I'm not going to test dj_config.py for now since everything appears to be working.

[2022-02-17 14:21] magland opened #122 "workspace.precalculate() step no longer needed in tutorial notebook(s)"
I'd suggest removing the workspace.precalculate() step from the notebooks. It's deprecated and no longer needed (when using `workspace.spikesortingview()`)

[2022-02-17 14:21] magland opened #123 "tutorial notebook: replace .experimental_spikesortingview() with .spikesortingview()"

[2022-02-18 18:58] zoldello opened #124 "Add documentation"

[2022-02-21 22:55] khl02007 commented on #124
duplicate of #23

[2022-02-21 22:55] #124 closed

[2022-02-21 22:56] khl02007 commented on #24
time of sort and lab team (set of users who own the sorting) are now added

[2022-02-21 22:56] #24 closed

[2022-02-21 22:57] khl02007 commented on #65
for now saving to binary with spikeinterface. saving with high efficiency extractor for interfacing with sortingview

[2022-02-21 22:57] #65 closed

[2022-02-24 02:05] khl02007 opened #127 "tetrode relative locations in nwb files"
Note: this issue probably should be submitted to `rec_to_nwb`?

A tetrode in the nwb file only has two unique locations (`[ 6.25,  0.  ]`, `[-6.25,  0.  ]`) instead of four. example: `senor20201027.nwb` from @acomrie

 @lfrank: I remember you had fixed a similar issue. Could you check this please?

[2022-02-24 03:42] lfrank commented on #127
That’s very odd. Can you confirm which tetrode yam, file you used for the conversion?

On Feb 23, 2022, at 6:05 PM, Kyu Hyun Lee ***@***.***> wrote:

﻿ Note: this issue probably should be submitted to rec_to_nwb? A tetrode in the nwb file only has two unique locations ([ 6.25, 0. ], [-6.25, 0. ]) instead of four. example: senor20201027.nwb from @acomrie @lfrank: I remember you had fixed a ZjQcmQRY

[2022-02-24 16:24] magland opened #129 "suggest pointing to updated instructions for running mysql database"
In the case where the user is not inside Frank lab network, I think it's easier to follow these instructions for setting up the mysql server for datajoint:

https://github.com/datajoint/mysql-docker

[2022-02-24 18:19] lfrank opened #130 "Store electrode with peak amplitude of spike in units table / database"
We should, for each unit, find the electrode on which it has the maximum amplitude, and store that so that we can go back and reconstruct the relative locations of the cells on the electrode / probe.

[2022-02-24 19:36] khl02007 commented on #127
@acomrie do you know which yaml file was used to generate `senor20201027.nwb`? could you share it with @lfrank  or post it here?

[2022-02-25 15:09] magland opened #131 "example notebook needs updating: SpikeSortingFilterParameters -> SpikeSortingPreprocessingParameters"
This is for the new_spikeinterface branch

[2022-02-25 16:41] magland opened #132 "suggest interactive prompt for dj_config.py"
Right now, the config parameters are hard-coded in dj_config.py. If user modifies that .py file then there is a git conflict. Ideally I think the script should prompt the user to enter the various values... or provide a .yaml file as input. Or some other mechanism.

[2022-02-25 18:41] khl02007 commented on #120
`dj_local_config_template.json` is now removed

[2022-02-25 18:41] #120 closed

[2022-02-25 18:42] khl02007 commented on #66
this is now possible via PR #118

[2022-02-25 18:42] #66 closed

[2022-02-25 18:43] khl02007 commented on #132
@edeno can you take a look?

[2022-02-25 18:47] khl02007 commented on #63
should be addressed by pr #118. there are some improvements to still be made, e.g. writing recording and sorting directly to nwb by spikeinterface function calls. will create a new issue for these. other than that i think we have all the features we need, including the quality metrics.

[2022-02-25 18:47] #63 closed

[2022-02-25 19:37] magland opened #133 "SpikeSortingRecordingSelection attributes"
I was noticing that LabTeam is not a primary key for SpikeSortingRecordingSelection (see below).

Does that mean that if one lab team does spike sorting with particular sort group, sort interval, and sorting parameters, then another lab team cannot also do that sorting? Seems not right... unless the lab team is associated with the session, in which case it should not be an attribute of this table.

[2022-02-25 20:56] khl02007 commented on #133
@magland thanks, that's a good point. I think we initially had implemented the lab team system because some people in the lab did not want everyone else to have access to their nwb file, but we certainly do want to encourage sharing. @lfrank what do you think? I can move LabTeam to the primary key if you're OK with it.

[2022-02-25 21:03] lfrank commented on #133
I think that’s a reasonable thing to do, particularly for the case where someone wants to redo the curation, so go ahead.

Just FYI, one reason we didn’t do that at first was because it could lead to confusions where the same data is referenced twice in some downstream analysis, but given that we could use multiple sorters and have the same issue, I think we’ll just have to be careful of that.

On

[2022-02-26 00:12] acomrie commented on #127
Here you go - (you can change .txt to .yml, github just didn't let me upload as yaml)
[20201027_senor.txt](https://github.com/LorenFrankLab/nwb_datajoint/files/8145493/20201027_senor.txt)

[2022-02-26 00:15] lfrank commented on #127
Sorry - we actually need the tetrode-12.5.yml file. Do you have that handy? Mostly it’s a question of what is in that file and how it compares to what is in the nwb file.

On Feb 25, 2022, at 4:12 PM, acomrie ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

Here you go - (you can change .txt to .yml, github just didn't let

[2022-02-26 00:44] acomrie commented on #127
[tetrode_12.5.txt](https://github.com/LorenFrankLab/nwb_datajoint/files/8145567/tetrode_12.5.txt)

[2022-02-26 00:51] khl02007 commented on #127
@lfrank the `senor20201027.nwb` file is in `/stelmo/nwb/raw` if you want to take a look

[2022-02-26 01:03] khl02007 commented on #127
@lfrank @acomrie Oh I think I understand the issue. when spikeinterface loads the nwb file as a NwbRecordingExtractor, it uses as channel location (rel_x, rel_y) rather than (rel_x, rel_z) - as a result there are only two unique locations for the four channels

[2022-02-26 02:41] khl02007 commented on #127
@lfrank yes but the issue is not with what we're doing but with `spikeinterface` - the `NwbRecordingExtractor` class in `spikeinterface` by default looks up `rel_x` and `rel_y` of the `electrodes` group of the NWB file to set the channel locations of the recording object. The obvious thing to do is to just reset the locations (maybe using the `get_geometry` method that you mention) but it's throwi

[2022-02-26 02:55] lfrank commented on #127
Oh, I see. And indeed those values cannot be changed in the NWB file. Perhaps we will have to do a pull request for spike interface.

On Feb 25, 2022, at 6:41 PM, Kyu Hyun Lee ***@***.***> wrote:

﻿ @lfrank yes but the issue is not with what we're doing but with spikeinterface - the NwbRecordingExtractor class in spikeinterface by default looks up rel_x and rel_y of the electrodes group of the NWB

[2022-03-02 00:56] emilymonroe95 opened #141 "remove min_interval from LFPBand.make, lfp_band_valid_times"
Extraneous variable min_length when calling interval_list_intersect in LFPBand.make.

.. min_length is seemingly no longer a parameter for common_interval.interval_list_intersect() and should potentially be removed in the context of LFPBand population. Thanks!

[2022-03-02 01:26] lfrank commented on #141
The min_length option is actually important, and I'm not sure where it was removed, but I'll try to put it back in.

[2022-03-02 17:13] magland opened #143 "preprocessing, filtering+whitening confusing"
It appears that filtering of a SpikeSortingRecording happens at the time where the recording is extracted for the session, whereas whitening happens at the time of spike sorting. This is confusing because these are both preprocessing parameters (SpikeSortingPreprocessingParameters). If whitening is done at the time of sorting, shouldn't it be an attribute of SpikeSortingSelection? Someone may want

[2022-03-03 12:48] magland opened #144 "recording_id should not be part of primary key for SpikeSortingRecording"
I'm not clear on the purpose of the `recording_id` attribute, which is assigned to be a random string at the time a `SpikeSortingRecording` is computed. The item is uniquely determined by `SpikeSortingRecordingSelection`, so shouldn't that be the primary key? If the purpose is to be able to conveniently refer to a `SpikeSortingRecording` by just one string (recording_id), that can still be achieve

[2022-03-03 17:53] khl02007 commented on #143
@magland one of the keys of the preprocessing params dict is called `whiten` and it is possible to turn off whitening by setting it to `False`. do you have an alternative in mind that would be less confusing? we had originally split preprocessing params to filter params and whitening params but we decided to pool them because they are both preprocessing params for spike sorting. also the only opti

[2022-03-03 18:08] khl02007 commented on #144
@magland I agree that the foreign key from `SpikeSortingRecordingSelection` and `recording_id` both uniquely determine an entry and are redundant as such. I mainly introduced `recording_id` because I wanted to have a concise way to refer to a recording (e.g. in downstream tables like `Sortings`) - otherwise the tables become really wide. I understand it is possible to query on a non-primary attrib

[2022-03-03 18:59] magland commented on #127
@khl02007, I created a WIP PR on spikeinterface: https://github.com/SpikeInterface/spikeinterface/pull/536/files

This will only solve part of the problem. It will allow the rel_z to be part of the elec geom in the extractor. But we're also going to need to auto-detect when it is appropriate to use X/Z vs X/Y for visualization.

[2022-03-03 19:15] magland commented on #144
@khl02007

Just because `recording_id` is part of the primary key, it doesn't mean you are guaranteed to have a unique entry returned to you -- that would only be guaranteed by datajoint if it was the entire primary key.

I understand that you don't want tables becoming wide, but I think we may run into trouble if we use `recording_id` to refer to a recording when that's not the full primary key.

[2022-03-03 19:25] jsoules commented on #144
@khl02007 Yes, this definitely touches on one of the longstanding contentious issues in database design :)

I'm looking at the definition from https://github.com/LorenFrankLab/nwb_datajoint/blob/0434c7efd840f3e8726bed15063352df62332c57/src/nwb_datajoint/common/common_spikesorting.py#L298 (which I think is what Jeremy was referring to) and I do have a couple questions though:

- What do you mean by

[2022-03-03 19:44] magland commented on #143
@khl02007 , I think whiten bool should be part of `sorter_params`, an attribute of SpikeSorterParameters

In common_spikesorting.py we see:

[code]

I think the whiten should instead be obtained from `sorter_params['whiten']`. But we don't want it to whiten twice! I believe the mountainsort4 sorter in spikeinterface does the whitening internally if whiten is set to True in sorter_params. So you ca

[2022-03-04 00:58] edeno opened #147 "Some table names have not been updated for the new pipeline in `common_curation`"
I have fixed some of them and will submit as a PR.

[2022-03-04 02:31] acomrie opened #149 "New env variables need to be set"
Either readme should be updated with new environment variables, or these should be managed behind the scenes. I think the relevant ones include:
`NWB_DATAJOINT_RECORDING_DIR`
`NWB_DATAJOINT_SORTING_DIR`
`NWB_DATAJOINT_WAVEFORMS_DIR`

In addition, `/stelmo/nwb/sorting/ `and `/stelmo/nwb/recording` have restrictive permissions, causing a permissions error when I attempt to populate `SpikeSortingReco

[2022-03-04 02:43] acomrie opened #150 "Error populating SpikeSortingRecording"
SpikeSortingRecording.populate(), restricted to one SpikeSortingRecordingSelection entry, begins to run, and prints:
`write_binary_recording with n_jobs 4 chunk_size 156250000`
then fails due to one exception, which leads to another exception. Error appears to be related to parallelization of chunks in **get_traces** in **spikeinterface**, resulting in `OSError: Can't read data (wrong B-tree signa

[2022-03-04 02:53] lfrank commented on #149
The permissions of /stelmo/nwb/sorting and recording should now be fixed to allow writing.

It also look like the README has been updated.

On Mar 3, 2022, at 6:31 PM, acomrie ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

Either readme should be updated with new environment variables, or these should be managed behind th

[2022-03-04 03:19] acomrie commented on #149
Apologies for missing the first point, and thanks much for fixing the second one!

[2022-03-04 03:19] #149 closed

[2022-03-04 05:48] khl02007 commented on #143
I see. The thing is we populate the (default) entries of `SpikeSorterParameters` (one for each sorter) by loading default parameters for spike sorters from `spikeinterface`, and I don't think that most of them have an argument for whitening. I suppose we could add a whiten param to the sorter params, but to me it is more natural to group the whiten param with filter params and separate them from o

[2022-03-04 06:58] khl02007 commented on #144
@magland

good point, I admit this didn't occur to me when I first defined `Sortings`. I propose the following changes:
* get rid of `recording_id` in `SpikeSortingRecording`
* get rid of `sorting_id` in `SpikeSorting`
* define as the primary key  of `Sortings` the foreign key from `SpikeSorting` and another attribute called `sorting_id` - here it really is the case that you need all these attribu

[2022-03-04 13:08] magland commented on #143
You are right that mountainsort4 repo does not have an option for whitening. However, the spikeinterface wrapper for mountainsort4 does have that option. See: https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/mountainsort4/mountainsort4.py

Note that the exact same spikeinterface.spiketoolkit function is used for both SI wrapper and your wrapper in common_spikesor

[2022-03-04 13:21] magland commented on #144
That sounds good, just a couple notes.
* I think `Sortings` table should be renamed to `Sorting` to be consistent (singular) with all the other tables. You may consider naming it `CuratedSorting`, because it's confusing to have `SpikeSorting` and `Sorting` mean two different things.
* I agree you would need something like a `sorting_id` in the primary key of the `Sorting` table. A decision to make

[2022-03-04 15:10] jsoules commented on #144
I just mean the number of bits stored per row in the table.

If there isn't a specific need to repeat `sorting_id` values on different rows, I would make `sorting_id` the primary key all on its own. And I would actually differ from Jeremy here--I think it's best to have an automatically set (`auto_increment`) `sorting_id` value that the user doesn't need to worry about. Having a non-composite PK w

[2022-03-04 15:25] magland commented on #144
Okay, I can agree with that -- I didn't think of the possibility of having the FK as part of the non-PK.

[2022-03-04 20:19] acomrie commented on #150
Update: in a totally new conda env w/ fresh pip install, I can populate SpikeSortingRecording with a very small segment of data (100s), but not a longer segment of data, potentially also pointing to get_traces parallelization issue. For a longer time segment, things are extremely slow in the new env, so I haven't reached an error at this point - but based on htop, doesn't look like anything is rea

[2022-03-04 20:43] lfrank commented on #150
Some online searching suggests that this is a problem with parallel reads of an HDF5 file.

We could, as a temporary fix, restrict the spike interface calls to use a single thread or switch to a storing the data in a non-NWB recording extractor. A longer term fix would, from the looks of it, involve changing the way the files are opened for reading in spike interface.

On Mar 4, 2022, at 12:19 PM,

[2022-03-05 00:19] lfrank commented on #143
So … we need the whitening for the metrics calculations as well, and we don’t want to save the whitened data. That’s a big part of the reason we use the spikeinterface whitening as opposed to the mountainsort whitening. I see what you mean about this being confusing, but given that we need to whiten for metrics, it’s not obvious to me how to do this better.

On Mar 4, 2022, at 5:08 AM, Jeremy Magl

[2022-03-05 00:39] acomrie commented on #143
A side comment - after playing with this a bit today, I agree that it is a bit tricky to have the whitening parameter in SpikeSortingPreprocessingParameters. The thing that I am running into occurs, as Jeremy pointed out, when I want to do multiple sorts of the same Recording with and without whitening. Because the whitening parameter is set at the level of SpikeSortingPreprocessingParameters, I t

[2022-03-05 02:27] lfrank commented on #143
Given this, I think we might need to have whitening be a sorting only parameter, and then add a whitening option for the metrics calculation, which, as far as I can tell, means that we need a whiten option in the Waveforms() class.

But I’m also noticing that the waveforms do not seem to be whitened for the current metrics calculation, and I think we need to fix that.

On Mar 4, 2022, at 4:39 PM,

[2022-03-07 00:07] khl02007 commented on #150
@acomrie could you tell me which NWB you're working with here? I'll try to reproduce the error in my test dj database

[2022-03-08 16:09] jguides opened #153 "Broken process pool with reasonably sized sort interval"
I get the following error when I try to populate SpikeSortingRecording for a large sort interval (about 10 hours long) as well as a more reasonably sized one (20 minues). Thanks in advance for any help with this.

/home/jguidera/anaconda3/envs/nwb_datajoint/lib/python3.8/site-packages/hdmf/spec/namespace.py:532: UserWarning: Ignoring cached namespace 'hdmf-common' version 1.5.0 because version 1.5

[2022-03-08 22:50] jguides opened #155 "Error when populating QualityMetrics"
The following error results when populating QualityMetrics. Thanks in advance for any help with this.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Input In [11], in <module>
      4 metric_key = {'nwb_file_name': nwb_file_name2,
      5               'recording_id': recording_id,
      6

[2022-03-10 15:44] magland opened #158 "Comments about dj.Manual and dj.Computed tables"
I've been thinking about the `dj.Manual` and `dj.Computed` tables in nwb_datajoint, especially in the context of our [CuratedSpikeSorting discussion](https://github.com/LorenFrankLab/nwb_datajoint/pull/152).

For the Manual entry tables: I believe the main purpose is to be able to refer to the manually-inserted rows from other tables, especially Computed tables. I think that the primary keys for t

[2022-03-10 16:55] lfrank commented on #158
Hi Jeremy. Thanks for that thoughtful post.

I fully agree that consistency would be useful, but I don't think unique names can work well from a sociological perspective. The challenge is that any given individual will have hundreds to perhaps a few thousand sortings. Having them be responsible for coming up with unique names will (and I say this from experience) result in incomprehensible labels

[2022-03-10 17:45] lfrank commented on #158
@magland. Kyu and I will be meeting shortly and we’ll discuss this, but one quick response:

As far as I understand things, we can’t use the restrictions because we need to be able to flexibly take different combinations of the recordings, sorter parameters, and artifact lists, and the restriction operation assumes that you can code up that combination at the time of the make.

And I’m okay with t

[2022-03-10 17:52] magland commented on #158
Would the following not work?

[code]

[2022-03-10 18:07] lfrank commented on #158
It would, but if (as is almost guaranteed to happen) an inexperienced user calls SpikeSortingRecording.populate(), then it will automatically generate all possible combinations, which would be hard to clean up. I really want us to avoid those sorts of failure modes if at all possible.

On Mar 10, 2022, at 9:52 AM, Jeremy Magland ***@***.******@***.***>> wrote:

This Message Is From an External Sen

[2022-03-10 18:49] magland commented on #158
Yeah, that makes sense.

[2022-03-10 19:35] jsoules commented on #158
I have only three thoughts I would add to this discussion.

1) I notice the `SpikeSortingRecordingSelection` and `SpikeSortingSelection` tables both use a collection of several foreign keys for their (composite) primary key. This is fine, but if you envision any other tables that might have facts about individual `SpikeSortingRecordingSelection` or `SpikeSortingSelection` entries, the joins are mu

[2022-03-10 20:24] acomrie commented on #150
Update: just testing to confirm that it works, but using n_jobs=1 should be a reasonable interim fix. Will want to expose the //ization params (n_jobs and total_memory, at minimum) as user params at some point. Double checking this with a new test that is currently running - when it finishes, I can make PR for the quick fix

[2022-03-11 02:10] khl02007 commented on #158
@magland

But if you are going to write out all the attributes, then it's not that much more efficient than first inserting the dict in the Selection table and then calling `populate` from the downstream `dj.Computed` table. You also lose the flexibility of running `populate` with various options (e.g. `reserve_jobs`).

I didn't get your point about using `restrictions` to call `populate` without

[2022-03-11 02:37] khl02007 commented on #158
@jsoules

I see. I'm not too concerned about the joins being difficult yet because I'm not sure how often we will use that operation on `SpikeSortingRecordingSelection` or `SpikeSortingSelection` - we would mostly try to keep the different entries separate than to generate new combinations of entries. Then again maybe we will do things that I haven't envisioned yet...

Yes, but the thing is, this

[2022-03-11 02:37] lfrank commented on #158
@jsoules Good points. A few responses

1. We don't expect to have any other tables referring to the Selection entries, so hopefully that will be okay.
2. You're right about the LabMember uniqueness, of course, but in practice that's unlikely to be a problem given the sizes of our labs. It may also be a bit late for us to change it given other dependencies, but I'm not certain about that.
3. Right

[2022-03-11 03:03] khl02007 commented on #158
@magland

I'm not sure that is the main purpose. `dj.Manual` tables are just tables that hold information that come from outside of the database. In fact we don't even need to enter information manually - using a function call is a totally valid use case. See https://docs.datajoint.org/python/definition/12-Example.html?highlight=manual

As such, I don't think we _have_ to impose such discipline up

[2022-03-11 15:09] jsoules commented on #158
1. Regarding the `selection` tables--it probably won't impact you if you don't intend to add additional tables that have foreign keys to them. Just want to make sure you're aware that the composite primary key sort of compounds--if you look at the `__spike_sorting_recording` table (the computed one), *its* PK is now a tuple of `(nwb_file_name, sort_group_id, sort_interval_name, preproc_params_name

[2022-03-13 23:30] lfrank opened #162 "Error when adding Subject"
Attempting to insert a subject into a newly created database on my laptop (with added line to print subject_dict) gives the error below. It is not clear why the definition, which specifies age = NULL, isn't being used here.

@rly Any ideas?

[code]

[2022-03-14 00:18] lfrank commented on #162
Sorry, it looks like my database had tables left it in. Nevermind...

[2022-03-14 00:18] #162 closed

[2022-03-14 04:19] khl02007 commented on #162
yeah had the same error, the solution was to drop and regenerate the table (noting it here in case others experience this as well)

[2022-03-14 05:58] khl02007 commented on #158
@magland

Oh I see, sorry I missed this important point (which I now see that you have made several times in this discussion - clearly I should read more carefully!). In that case I have absolutely no problem with it. I think in some cases (like your example of `SpikeSortingRecording`) we definitely need an extra attribute to identify a sorting, and the primary key could be FK from an upstream tab

[2022-03-14 13:35] jsoules commented on #158
@khl02007 One snag; I believe you can only use `auto_increment` in a non-composite primary key (the bottom of https://docs.datajoint.org/python/v0.11/definition/07-Primary-Key.html is the reference there but I'm not sure if I'm looking at the most recent version). If you wish to have (system-managed) auto-increment behavior, you probably need to take the FK to `SpikeSorting` out of the PK section

[2022-03-14 16:19] lfrank opened #164 "New folder for spikesorting"
As we now have multiple files that have code relevant to spike sorting, I think we should move all of the spikesorting related files to a new folder (outside of common) just as we have for decoding. Any concerns?

[2022-03-14 18:24] khl02007 commented on #164
@edeno in that case should decoding also go in common/decoding?

[2022-03-14 18:48] edeno commented on #164
It's mostly a grouping issue. I think of everything in common as pre-processing and decoding as more of an analysis, so I would vote to keep it separate.

[2022-03-14 19:13] khl02007 commented on #164
I think the unit that we deal with should be pipelines. Decoding is one pipeline, spike sorting is another (though spike sorting can be seen as a preprocessing step from decoding's perspective). So I would advocate treating them at the same level as Loren did.

[2022-03-20 03:05] khl02007 opened #171 "Import error for `spikesorting` module"
@lfrank: I get this error when I try to import the spike sorting module (now in its own dir). do you not get this?
I can push changes to fix but let me know if you'd like to work on it (provided that this isn't something wrong that I'm doing)

Tried:
[code]

Error:
[code]

[2022-03-20 03:16] lfrank commented on #171
Can you try redoing the module installation with pip install?

On Mar 19, 2022, at 8:06 PM, Kyu Hyun Lee ***@***.***> wrote:

﻿ @lfrank: I get this error when I try to import the spike sorting module (now in its own dir). do you not get this? I can push changes to fix but let me know if you'd like to work on it (provided that this isn't something wrong that I'm doing) ZjQcmQRYFpfptBannerStart
This

[2022-03-20 03:25] lfrank commented on #171
Oh just looked at this more closely. This was my fault it should be spikes wording not common oh. Feel free to make that change I’ve already made it in the one I’m working on. Sorry for the error

On Mar 19, 2022, at 8:16 PM, Frank, Loren ***@***.***> wrote:

﻿ Can you try redoing the module installation with pip install?

On Mar 19, 2022, at 8:06 PM, Kyu Hyun Lee ***@***.***> wrote:

﻿ @lfrank: I

[2022-03-20 03:39] khl02007 commented on #171
No worries, will try to submit a PR for this.

[2022-03-21 01:45] #150 closed

[2022-03-21 17:25] #171 closed

[2022-03-22 14:42] #164 closed

[2022-03-22 14:42] #144 closed

[2022-03-22 14:43] #114 closed

[2022-03-22 15:18] #147 closed

[2022-03-24 21:19] acomrie opened #179 "Adjust curation labeling"
Per discussion in person w/ several of folks and @lfrank, a few potential feature requests (potentially feature requests for "curation2" branch?):
- implement valid labels list, so typos don't cause accidental mislabeling (muas instead of mua, for ex)
        - including the option to use "artifact" as label for non-noise-cluster, non-biological clusters
- make possible multiple labels per cluster

[2022-03-28 19:13] jguides opened #180 "ArtifactDetection could be unintentionally populated with current setup of ArtifactRemovedIntervalList"
ArtifactRemovedIntervalList is intended to be able to accept user-defined artifact intervals, in addition to those from the ArtifactDetection table. Currently, inserting into ArtifactRemovedIntervalList with custom artifact intervals requires populating ArtifactDetectionSelection. Conceptually, a drawback of this is that it is easy for an entry to then get unintentionally inserted in ArtifactDetec

[2022-03-28 23:56] acomrie opened #183 "Clean up /recording more automatically?"
It appears that there are a number of old recording directories in /stelmo/nwb/recording/ corresponding to entries in an old version of the SpikeSortingRecording table that has since been dropped. If there isn't already a method that cleans these up, it might be nice to add.

Related to this - I interrupted a populate() call on SpikeSortingRecording, and upon re-running later, I got an error that

[2022-03-29 15:56] lfrank commented on #183
Agreed. We can write clean up code that is similar to the cleanup for the nwb / analysisnwb files where it finds the directories that are not in the table and removes them. In the meantime I'd be happy for us to empty those directories completely, but I have a sense that a few people might still be using stuff there.

[2022-03-29 16:35] acomrie opened #186 "Handle long file names"
Concatenating strings for user friendly file names is great for a lot of things, but is now resulting in "File name too long" error when I attempt to populate SpikeSorting. I can of course shorten the parts of this name that are my custom strings, like some of the parameter and interval names, but I think we'll need a more general approach for the lab, given that we do this kind of thing quite a b

[2022-03-29 17:49] #186 closed

[2022-03-29 19:14] #180 closed

[2022-03-31 02:18] acomrie opened #187 "interval_list_intersect not handling no intersection"
In common_interval.py, `interval_list_intersect` appears not to handle the case where no intersecting intervals are identified. Something like returning an empty np array would probably be the expected behavior, as an (N,2) np array is usually returned when intersecting intervals are identified.

I believe the issue arises in the line right before the return statement, when attempting to sort the

[2022-03-31 16:05] jguides opened #189 "Index error during spike sorting when no artifact times"
The following error results during spike sorting when no artifact times exist. This may be due to the fact that when no artifacts are detected by the ArtifactDetection code, artifact_times has shape (1, 0), and so is iterated over.

ipdb>  artifact_times
array([], shape=(1, 0), dtype=float64)

---------------------------------------------------------------------------
IndexError

[2022-03-31 22:32] khl02007 commented on #189
Hmm strange, if `artifact_times` is empty it should not attempt to remove artifacts. in any case, it seems like you don't have the latest master branch because the line numbers from the error message doesn't match. Can you pull the latest and try again?

[2022-03-31 23:51] jguides commented on #189
Thanks. I pulled this morning before getting this error, but I just pulled again and replicate the error. I will submit a pull request with the change we just discussed.

[2022-03-31 23:58] #189 closed

[2022-04-02 16:09] jguides opened #191 "artifact removal does not work with multiple artifact intervals"
I get the following error when trying to spike sort a recording that had two artifact intervals detected. I believe the issue may be that "remove_artifacts.py" expects one list of artifact indices per recording segment, but multiple lists of artifact indices (each corresponding to a contiguous interval) are passed per recording segment. A fix for this would be to concatenate artifact indices acros

[2022-04-02 16:27] jguides commented on #155
This was resolved.

[2022-04-02 16:27] #155 closed

[2022-04-02 16:28] jguides commented on #153
This was resolved.

[2022-04-02 16:28] #153 closed

[2022-04-02 16:36] edeno commented on #191
Closed by PR #192

[2022-04-02 16:36] #191 closed

[2022-04-06 15:25] jguides opened #194 "nearest neighbors isolation score cannot be calculated for units with fewer than seven waveforms"
The nearest neighbors isolation score calculation errored out for a unit with only two waveforms, since two is less than the number of specified PCA components. Fixes I can think of are to not calculate the nearest neighbors isolation score for units with less than the number of PCA components and instead return a null value like nan, or to use the minimum of seven and the number of waveforms as t

[2022-04-06 19:34] lfrank commented on #194
Ideally this would be handled by the spikeinterface code, so it would be great if you could post an issue there.

Question: do you know if this only fails for the unit with < 7 spikes or would it fail for all units because of the need to compare to the unit with 7 spikes? If the former, we can add a minspikes entry to the metrics dictionary and then only compute metrics for units with > minspikes

[2022-04-06 21:22] khl02007 commented on #194
@jguides @lfrank this happens because we are trying to project a cluster with only two spikes to a 7-d feature space (whose coordinates are the first 7 PCs; 7 is used by default). Note that if there are only two spikes, then the effective dimensionality is 1 (even if each spike may have ~40 samples) since the line that connects the two spikes explains all the variance. So it makes no sense to do d

[2022-04-09 04:50] jguides commented on #194
@lfrank @khl02007 I found the code will fail for units that have more than 7 spikes, if they have a neighbor with fewer than 7 spikes. So it seems this may indeed have to be fixed at the spike interface level, or we go with @khl02007's suggestion of removing units with very few spikes before calculating metrics. I am open to either, although I'm hoping to avoid resorting if it's possible to do the

[2022-04-09 16:35] lfrank commented on #194
As I think about this, I think the right solution is for us to fix the metric calculation code to deal with this possibility.  @khl02007 would that be straightforward?

On Apr 8, 2022, at 9:50 PM, jguides ***@***.***> wrote:

﻿ @lfrank @khl02007 I found the code will fail for units that have more than 7 spikes, if they have a neighbor with fewer than 7 spikes. So it seems this may indeed have to b

[2022-04-09 20:28] khl02007 commented on #194
@lfrank yes I can do it. so should we just return -1 for the metrics of units with spikes below some number that the user sets?

[2022-04-10 23:01] jguides opened #196 "Previously used attribute of BinaryRecordingExtractor appears to have gone away"
After recently upgrading spikeinterface, I get the following error when trying to get the timestamps for a recording (the line below previously ran without error). Thanks in advance for any thoughts or help with this.

Running this line:
`valid_timestamps = SpikeSortingRecording._get_recording_timestamps(recording)`

Gives the error:
`File ~/Src/spyglass/src/spyglass/spikesorting/spikesorting_reco

[2022-04-10 23:18] lfrank commented on #196
Can you try changing recording,recording_list to recording.get_num_segments()?

On Apr 10, 2022, at 4:01 PM, jguides ***@***.***> wrote:

﻿
After recently upgrading spikeinterface, I get the following error when trying to get the timestamps for a recording (the line below previously ran without error). Thanks in advance for any thoughts or help with this. Running this line: ‍ ‍ ‍
ZjQcmQRYFpfptBann

[2022-04-10 23:35] lfrank commented on #196
@jguides Can you the following for line 334

[2022-04-11 01:17] jguides commented on #196
Thanks @lfrank. This seems to have worked. However, I'm seeing that there will still be an issue in the artifact rejection code, in _get_artifact_times, which has in line 166:
`        recording = si.concatenate_recordings(recording.recording_list)`
Do you have any idea about how to concatenate the recordings in the absence of recording_list?

[2022-04-11 01:21] lfrank commented on #196
Unfortunately no.
@khl02007 any ideas?
@jguides You might also want to post an issue on spikeinterface; they typically get back to us pretty quickly.

[2022-04-11 01:39] lfrank commented on #196
Actually, looking through the code, there is a variable.
_recording_segments which might work for the moment.

Try
`recording._recording_segments`
instead of
`recording.recording_list
`

[2022-04-11 01:49] khl02007 commented on #196
@jguides is the line you are running (` valid_timestamps = SpikeSortingRecording._get_recording_timestamps(recording)`) part of the spike sorting pipeline? `_get_recording_timestamps` assumes that the recording is an `AppendSegmentRecording` if it has multiple segments, but it seems your recording is a binary recording with multiple segments. can you tell me at what point in your analysis you are

[2022-04-11 02:53] jguides commented on #196
Thanks both. I get the error in the artifact rejection code in the spike sorting pipeline, and also when I use these same lines in my own code. Here is a traceback from the pipeline:

[code]

[2022-04-11 04:48] jguides commented on #196
recording._recording_segments worked as a substitute for recording.recording_list. I will submit a pull request with the change. Thank you both!

[2022-04-11 04:48] #196 closed

[2022-04-11 16:41] dpeg22 opened #198 "Ensure waveforms window matches spikesorter window"
Currently, the window used to spike sort is set in `SpikeSorterParameters` in spikesorting_sorting.py as the `clip_size` and the window used to extract waveforms is set in `WaveformParameters` in spikesorting_curation.py using `ms_before` and `ms_after`. A method of ensuring these two windows match should be developed.

[2022-04-11 17:19] dpeg22 opened #199 "Document potential workflow/best practices for new spikesorting pipeline"
Create a document that outlines potential workflows for curation within the new pipeline (automatic -> manual -> automatic, just automatic, etc...). Could be looped in with a fresh spikesorting/curation tutorial.

[2022-04-11 17:22] dpeg22 opened #200 "Update spikesorting tutorials to reflect new pipeline"
Update existing spikesorting tutorial jupyter notebooks '0_intro', '1_spikesorting', '2_curation' to reflect updates to the spikesorting/curation pipeline. Could incorporate #199.

[2022-04-11 17:30] dpeg22 opened #201 "Edit MetricParameters metric_default_params to not include peak_offset"
`peak_offset` should not be calculated on whitened waveforms, but is currently a part of `metric_default_params` alongside other metrics (`snr`, `nn_isolation`, `nn_noise_overlap`, `isi_violation`) that require whitened waveforms. If users are interested in using the `peak_offset` metric, it might make sense to have a separate default parameter set for unwhitened waveforms.

[2022-04-11 17:40] dpeg22 opened #202 "Develop an algorithm for annealing units across different sort intervals."
**Future work**. Develop an algorithm to anneal units from the same neighborhood across two time-distinct sortings. Ideally, this would output a metric to reflect the quality of match between units across the two sortings. The user could use this metric to identify units for annealing using a threshold (or manual process?). It would make sense for the algorithm to make use of the process that is d

[2022-04-11 17:45] edeno opened #203 "Store DIO events in an analysis nwb file"
Not sure if this is just me, but when I try to get DIO events it takes an incredibly long time. Not sure why this would be as this is only timestamps and an array of 0s and 1s.

[2022-04-11 18:00] edeno commented on #203
Upon further investigation, it does appear that the slow step is in comparing the content hash versus the file. Not sure why this is an issue here and not in opening other files.

[2022-04-12 02:13] lfrank commented on #203
@edeno The DIOs are left in the NWB file with the underscore, which means that DataJoint computes a full checksum when it opens that file, and that's my guess as to why DIOs in particular are a problem. Most of the other files are processed data and are much smaller. I've contacted DataJoint (again) to see if they have a fix for this. If they don't, the best thing might be to create an AnalysisNwb

[2022-04-12 02:16] lfrank commented on #194
@khl02007 Is this now fixed in spikeinterface?

[2022-04-12 02:19] lfrank commented on #179
This should all be implemented now.

[2022-04-12 02:19] #179 closed

[2022-04-12 02:19] #98 closed

[2022-04-12 02:19] lfrank commented on #73
No longer relevant.

[2022-04-12 02:19] #73 closed

[2022-04-12 02:20] lfrank commented on #74
No longer relevant.

[2022-04-12 02:20] #74 closed

[2022-04-12 02:23] lfrank commented on #85
@rly Is there an update on this one?

[2022-04-12 02:23] lfrank commented on #86
I believe this has been fixed.

[2022-04-12 02:23] #86 closed

[2022-04-12 02:24] #94 closed

[2022-04-12 02:27] lfrank commented on #113
This should now be fixed.

[2022-04-12 02:27] #113 closed

[2022-04-12 02:28] lfrank commented on #122
Agreed; we'll try to get a new, updated spike sorting notebook out soon.

[2022-04-12 02:28] #122 closed

[2022-04-12 03:16] #194 closed

[2022-04-12 03:46] lfrank opened #204 "move to pip or conda installable version"
I think it would be a good idea for us to move to pip or conda installable version.

[2022-04-12 18:30] khl02007 opened #206 "make a table of files to share"

[2022-04-13 17:19] acomrie opened #211 "Possible feature request for verbose delete method"
Wondering if we should consider whether we want to build in any extra controls to help all of us avoid accidental deletion. I am not exactly sure what this would look like, given that a new delete method would need to be implemented on each class, but maybe we could discuss ideas about what might help most.

Currently before deletion a user can see the number of entries being deleted for each tabl

[2022-04-13 17:54] khl02007 commented on #211
Something like this is already in place for `SpikeSorting` table - it looks up your name from the datajoint username and checks if you are one of the people included in the lab team for the entry. If not, it doesn't let you delete.

[2022-04-13 18:57] lfrank commented on #211
I suppose the question here is whether we could extend that to all tables by asking if any to be deleted entry has a lab team key and if so, whether permissions should be granted. Thoughts @khl02007 ?

[2022-04-13 19:28] khl02007 commented on #211
I think it could be. But tables like `MetricParameters` has no natural lab team associated with it, so may require a different strategy. My hope is that the cascading nature of delete would call delete on downstream tables and block any disallowed deletes from occurring (which means we don't need to implement this for all tables), but I haven't tested whether dj behaves this way.

[2022-04-13 19:56] lfrank commented on #211
Unfortunately that doesn't seem to be the case (at least when I looked into it some time ago). We could ask DataJoint for something like this as a feature request, though I'm not sure it's possible for them without a lot of work.

[2022-04-13 21:20] khl02007 opened #212 "Fault-permitting insert and print-out"
@MichaelCoulter

[2022-04-13 21:39] khl02007 opened #213 "test traceability from Curation back to Automatic curation back to parant Curation"
@jguides

[2022-04-13 21:49] jguides opened #214 "Concatenation of recording segments may be incorrect"
After pulling the latest spyglass repo and reinstalling the environment a few hours ago, I get the following error when attempting to spike sort a recording with multiple segments. Is it possible that concatenation of recording segments during spikesorting recording creation may not be implemented correctly? Thanks in advance for any help with this.

`----------------------------------------------

[2022-04-13 22:07] lfrank commented on #214
As far as I can tell, the concatentate recordings step is no longer done. @khl02007 was that intentional and do we need to add a concatenate for multiple recording segments before we call the sorter?

[2022-04-13 22:15] edeno commented on #214
I believe it relates to these recent lines that were added. Either the **and** statement is not correct or we are not accounting for all the recording types

https://github.com/LorenFrankLab/spyglass/blob/f49f46b9066ae7d9fc7c3379d112db0013c4f628/src/spyglass/spikesorting/spikesorting_sorting.py#L150-L153

[2022-04-13 22:44] khl02007 commented on #214
I think this is because the concatenation step is inside the artifact removal step. As a result, if there are no artifact intervals, the recording will not be concatenated. I moved the concatenation step to be before artifact removal with this PR #215. Hopefully this fixes the issue.

[2022-04-14 00:00] edeno commented on #214
Resolved by #215 hopefully. Can reopen if this is not fixed @jguides .

[2022-04-14 00:00] #214 closed

[2022-04-14 00:02] edeno commented on #212
@MichaelCoulter could you leave a more detailed description of what you want in the output?

[2022-04-14 00:13] MichaelCoulter commented on #212
it would be great to have: a list of associated and video files that are linked to the nwb file and actually exist, a list of intervals of the position data (including estimated time in minutes), a list of intervals of the neural data (including estimated time in minutes), a check that the timestamps of the position and neural intervals are overlapping.

[2022-04-14 23:51] jguides commented on #214
The fix appears to have worked; thanks all.

[2022-04-16 23:11] khl02007 opened #216 "contribute the geometry of the probes that we are using (LLNL, Rice etc) to probeinterface"

[2022-04-17 18:04] MichaelCoulter opened #217 "warning when running SpikeSortingRecording.populate()"
Jen, Alison, and I have all noticed this warning when running

SpikeSortingRecording.populate():
/home/mcoulter/anaconda3/envs/spyglass/lib/python3.8/site-packages/pynwb/base.py:167: UserWarning: Length of data does not match length of timestamps. Your data may be transposed. Time should be on the 0th dimension warn("Length of data does not match length of timestamps. Your data may be transposed.

[2022-04-17 18:15] lfrank commented on #217
@MichaelCoulter Could you check on the raw data (Raw() & {'nwb_file_name', nwb_file_name}).fetch_nwb()['raw'] to see what the dimensions of the data and the dimensions of the timestamp array are?

[2022-04-17 22:43] MichaelCoulter commented on #217
For this nwb file (ginny20211103_.nwb) I see:
data: <HDF5 dataset "data": shape (421918777, 256), type "<i2">
timestamps: <HDF5 dataset "timestamps": shape (421918777,), type "<f8">
Those dimensions seem okay to me.

[2022-04-17 23:53] khl02007 commented on #217
@MichaelCoulter is that the only warning message that you get? if not, could you post the full output here?

[2022-04-17 23:58] MichaelCoulter commented on #217
yes, that is the only warning message

[2022-04-18 06:30] khl02007 commented on #127
@lfrank @acomrie I just tried accessing the channel locations of a recording (`chimi20200216_new.nwb`) after the PR related to this issue has been merged to `spikeinterface`. In short, the problem is not solved. This is because we have both the tetrodes (whose channels lie on the `xz` plane) and probes (whose channels lie on the `xy` plane) in a single NWB file. When spikeinterface loads the NWB f

[2022-04-18 14:16] lfrank commented on #127
Good catch. This really is something that should be solved on the spike/probe interface end in my opinion, so my suggestion is that we file an issue there and then fix this for ourselves when we create the recording if we can. Does that work?

On Apr 17, 2022, at 11:31 PM, Kyu Hyun Lee ***@***.***> wrote:

﻿
@lfrank @acomrie I just tried accessing the channel locations of a recording (chimi2020021

[2022-04-18 15:00] acomrie commented on #127
Thanks @khl02007 !  I think like @lfrank that this seems like it should be fixed on the spikeinterface/probeinterface side of things. The tetrode channels and probe channels really do live in physically orthogonal planes, and we typically do not sort probes and tetrodes together anyway. This makes me think it should be fine for sorts using either tetrodes or probes to have distinct channel plane s

[2022-04-19 03:51] rly commented on #217
@MichaelCoulter It might be a different timeseries in the file that has mismatched dimensions, or a temporary timeseries generated by SpikeInteface might have mismatched files. You should be able to find the source of the warning by telling python to treat the warning as an error and following the stacktrace:

Within python
[code]

From the command line:
[code]

[2022-04-19 18:17] edeno opened #220 "Standardization of brain region names"
There are currently a lot of custom names for brain regions and targeted locations. Standardization of these names will help future people search for relevant data.

[2022-04-19 18:19] edeno opened #221 "Easily matching brain regions to sort groups"
It seems like the specific brain region names are listed as targed_location in the nwb files and this isn't available anywhere. @jguides has some code to match these two, which will help for future analyses. We should consider adding that code to spyglass and make sure it is easy to match up brain region and sort groups both for clustered units and individual electrodes.

[2022-04-19 18:49] edeno commented on #221
Another note that it is a little confusing why targeted_location is not in the `ElectrodeGroup` table or the `BrainRegion` table. Also in the `BrainRegion` table, **subregion_name** and **subsubregion_name** are never used.

[2022-04-19 18:54] edeno commented on #204
We should have both pip and conda installable versions. However, the name `spyglass` is already taken on pip so we will have to come up with an alternate name on pip

[2022-04-20 15:10] acomrie opened #222 "Import spikeinterface.sortingcomponents fxns one by one"
Looks like spikeinterface has removed imports from sortingcomponents `__init__.py`. In our own spyglass spikesorting_sorting.py we `import spikeinterface.sortingcomponents as scp` to be able to access `scp.detect_peaks`, but we will now need to import `detect_peaks` specifically, as it won't be available from our current import.

I think this change on the spikeinterface end occurred between 0.94.

[2022-04-20 16:09] khl02007 commented on #222
@acomrie thanks for reporting this. would you like to try to fix it? seems like we can just replace the import line with `from spikeinterface.sortingcomponents.peak_detection import detect_peaks` and then remove scp from `scp.detect_peaks`

[2022-04-20 16:37] acomrie commented on #222
I already made the fix and submitted the PR earlier this morning when submitting the issue - it is just waiting for review. Feel free to review it @khl02007 ; I had only requested Eric as reviewer because peak detection is used in the clusterless part of the code.

[2022-04-20 17:00] khl02007 commented on #222
thanks, merged

[2022-04-20 17:00] #222 closed

[2022-04-20 17:28] edeno commented on #204
Kyu suggested `neuro-spyglass`. I might use this for initial testing of pip packaging if there no objections. The conda version can still be spyglass if we put it in our own channel.

[2022-04-20 17:29] edeno opened #224 "Add ripple detection"
Just adding this as an issue so we can keep track of it.

[2022-04-20 17:43] khl02007 commented on #204
are all the dependencies pip installable? e.g. the ndx extension we use

[2022-04-20 17:47] edeno commented on #204
I will figure this out when testing.

[2022-04-21 19:05] dpeg22 opened #225 "Change SortGroup functions to not delete existing entries"
Currently, `set_group_by_shank` and `set_group_by_electrode_group` delete any existing SortGroup entries for that NWB file. It would be safer to check to see if there already is an entry in SortGroup for that NWB file and potentially implement an `'override'` argument if a user wants to reset their previously set sort groups. This might help avoid unnecessary/unintentional deletions.

[2022-04-21 19:09] dpeg22 commented on #130
@lfrank Happy to take this on. Wanted to check ahead of time whether this: `si.toolkit.postprocessing.get_template_extremum_channel()` seems like a good approach to extract the "peak channel" from waveforms?

[2022-04-21 19:43] MichaelCoulter opened #226 "warn about deleting other peoples' tables"
it would be great to display the team name associated with the tables when you are trying to delete tables. this might help people accidentally delete other peoples' tables. for example, this can be a problem when a set of parameters is used by multiple people.

[2022-04-21 19:46] lfrank commented on #130
Yes, that should work, I think.

Thanks…

On Apr 21, 2022, at 12:10 PM, dpeg22 ***@***.***> wrote:

﻿
@lfrank Happy to take this on. Wanted to check ahead of time whether this: si.toolkit.postprocessing.get_template_extremum_channel() seems like a good approach to extract the "peak channel" from waveforms? — Reply to this email directly,
ZjQcmQRYFpfptBannerStart
This Message Is From an External Se

[2022-04-22 00:15] dpeg22 opened #229 "Provide documentation to user on available arguments for parameter dictionaries."
While default parameters are available for users to use as an example for what to insert into Parameters tables (`SpikeSortingPreprocessingParameters`, `SpikeSorterParameters`, `WaveformParameters`, `MetricParameters`, `AutomaticCurationParameters`), these are by no means inclusive of available parameters and provide little guidance on what each parameter accomplishes. This might look like a more

[2022-04-22 00:21] dpeg22 commented on #226
This could look similar to the extended `delete` method `SpikeSorting`.

[2022-04-22 02:34] MichaelCoulter opened #230 "waveforms extraction - mismatch between recording and sorting segment number"
i concatenated 3 run sessions into one sort interval and then spike sorted on this interval, which has 3 segments. when i tried to extract waveforms after sorting i got this error:
[code]
i ran the debugger and found this:
[code]
do you know why my sorting would have become 1 segment when the recording has 3 segments?

[2022-04-22 16:11] lfrank commented on #229
I would vote for a more complete docstring as a general approach to this, as that way it would show up in the API documentation.

On Apr 21, 2022, at 5:15 PM, dpeg22 ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

While default parameters are available for users to use as an example for what to insert into Parameters table

[2022-04-22 18:35] #201 closed

[2022-04-22 22:14] MichaelCoulter opened #231 "check that sort_interval is only 1 segment"
i had an error during waveform extraction because my sort interval had 3 segments. i learned that sort interval should only have 1 segment, so maybe we can check that is the case when inserting a new sort_interval

[2022-04-23 01:51] MichaelCoulter opened #232 "sometimes the folder on st elmo is not deleted when tables are deleted"

[2022-04-25 21:41] jguides commented on #230
I get this error when sorting data with jumps in timestamps (which would create multiple segments). Any thoughts on what a potential fix for this could be? Thanks in advance for any thoughts.

`---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
Input In [13], in <cell line: 1>()
     70     wavefor

[2022-04-26 00:53] lfrank commented on #230
@jguides I would have assumed that something like
`waveforms = si.extract_waveforms(recording=si.concatenate_recordings([recording])`
or perhaps (although we're not supposed to do things this way)
waveforms = si.extract_waveforms(recording=si.concatenate_recordings(recording._recording_segments)
might fix this if you insert that at line 290 in spikesorting_curation.py
but I'm sure there is a bette

[2022-04-28 06:24] khl02007 commented on #230
@jguides yes I think the solution suggested by @lfrank would work. The alternative would be to separate the sorting to multiple sorting segments, each of which corresponds to a recording segment. That would be cleaner but not sure if we gain much in practice. I submitted a PR that should solve this.

[2022-04-28 06:33] MichaelCoulter opened #234 "i tried to fetch and nwb file from spike sorting but get a permission error about a different nwb file"
input:
[code]

result:
[code]
Do you know why it is trying to open the file from senor? thanks.

[2022-04-28 15:10] lfrank commented on #234
Right now sortings are not stored in NWB files. To get the sorting, use the sorting key and call
`sorting = Curation.get_curated_sorting(key)`

[2022-04-28 15:10] #234 closed

[2022-04-28 16:06] #230 closed

[2022-04-28 23:01] #127 closed

[2022-04-29 00:21] khl02007 opened #237 "Potentially faster way of extracting waveform amplitudes"
@edeno
spikeinterface has a `compute_spike_amplitudes` function that extracts amplitudes from a WaveformExtractor. This may be faster than what is currently used (`_get_peak_amplitude`) for clusterless decoding because it can be parallelized by setting `n_jobs` keyword arg

[2022-04-29 00:29] edeno commented on #237
Hmm, my question is whether it makes more sense to parallelize over sort groups or within the amplitude extraction. I suppose this is empirical.

[2022-04-29 21:32] MichaelCoulter opened #239 "sortingview hide rejected feature"
there used to be a button to hide rejected clusters in sorting view, but we can't find it now. it is still there or can we bring it back? thanks.

[2022-04-30 00:07] khl02007 commented on #239
according to @magland there is no such option. perhaps you can submit a feature request on sortingview repo https://github.com/magland/sortingview/issues

[2022-04-30 07:29] #239 closed

[2022-04-30 07:53] MichaelCoulter opened #240 "having trouble with artifact detection"
after running artifact detection, the algorithm finds the same single region on all of my tetrodes and when i plot this region there is no obvious artifact. in addition, several very large amplitude (> 3000 uV) spikes are not removed and make it through to my sorting. i have tried lowering the parameter 'proportion above threshold'. but that didnt seem to help. if you have any ideas i would apprec

[2022-04-30 16:07] lfrank commented on #240
I think more details would be needed here to have any idea what might be going on. Since at least a couple of people have used this successfully, as far as I know, it would presumably be something in your parameters or the way the data are sent in.

In any case, you can run the code yourself to see what it does.  Given a recording (which  you can get from
`recording_path = (SpikeSortingRecording &

[2022-05-01 00:46] jguides commented on #230
Thanks both! I'm now able to calculate waveforms on the recording I was having issues with.

[2022-05-01 06:27] MichaelCoulter commented on #240
Thanks. Here is some more information. On sort_group_id = 1 from  'ginny20211108_.nwb', I detected artifacts with these parameters: 'ampl_2000_prop_75'. One artifact was detected and I used this code to get the artifact times:
nwb_file_name = 'ginny20211108_.nwb'
tetrode = 1
(ArtifactDetection & {'nwb_file_name' : nwb_file_name} & {'sort_interval_name' : '04_r2'}
& {'sort_group_id' : tetrode} & {'

[2022-05-01 06:30] MichaelCoulter commented on #240
I found the large artifacts at these times:
#plottimes = [artifact_plot_times[0][0] + 1220, artifact_plot_times[0][0] + 1230]
This is 1220 seconds after the single detected artifact.

[2022-05-01 14:11] lfrank commented on #240
Oh, now I see. You need to plot the data from the recording extractor, not the raw data, as the events it detects are in the filtered and referenced data.

On Apr 30, 2022, at 11:27 PM, MichaelCoulter ***@***.***> wrote:

﻿
Thanks. Here is some more information. On sort_group_id = 1 from 'ginny20211108_.nwb', I detected artifacts with these parameters: 'ampl_2000_prop_75'. One artifact was detecte

[2022-05-02 19:36] dpeg22 commented on #240
This will need to be tested on other NWB files, but it looks like line 197 in `spikesorting_artifact.py` uses `np.sum(above_a,axis=0)`, which returns a list of length = number channels, when it should be a list of length = number timestamps.

[2022-05-04 19:22] MichaelCoulter opened #243 "improve efficiency of artifact detection"
it takes about 30 mins to generate artifact times for a 45 min recording with 4000 detected artifacts.
i think this is slow because it has to check each detected artifact detected in the full 30khz recording. i think it would be faster if this could be parallelized to split the recording into several smaller chunks, or if the timestamps could be downsampled (not sure how to do this and preserve in

[2022-05-04 21:47] #240 closed

[2022-05-04 22:08] MichaelCoulter commented on #243
i made a pull request to increase the speed 2x, but it still is quite slow.

[2022-05-05 22:59] MichaelCoulter opened #246 "documentation for broken dependency for artifact detection"
can someone who is working on documentation or tutorial notebooks make a clear warning about the broken dependency between the ArtifactDetection table and the ArtifactRemovedIntervalList table. kyu explained to me why this is important, but it would great to have this documented and some comments in the notebook that when you want to remove and re-create artifact detection you need to delete from

[2022-05-05 23:44] #143 closed

[2022-05-06 18:03] edeno commented on #237
After investigating, the function `compute_spike_amplitudes` only returns the amplitude at the max channel, rather than the amplitudes across all the channels at the peak time.

[2022-05-06 18:03] #237 closed

[2022-05-06 22:09] acomrie opened #248 "Keep track of some shared database modifications?"
We have been dropping, altering, deleting, etc schema as the common parts of the database take shape.

I'm wondering if this is kept track of anywhere automatically (or manually)? @lfrank and @edeno may be the only ones who really do this in practice, not sure.

Perhaps things get cached or logged somehow, perhaps not. If not, the least we could do for lab user friendliness might be to keep the eq

[2022-05-07 04:37] jguides opened #250 "User defined valid times not used in spike sorting"
From past conversations with @lfrank, a user should be able to define a list of valid times to use for spike sorting via "interval_list_name" in SpikeSortingRecordingSelection. However, it appears this list of valid times is not used when defining valid times for spike sorting (in SpikeSortingRecording), and that instead "raw data valid times" is always used.

Defining valid times for the sort occ

[2022-05-07 21:52] khl02007 commented on #250
@jguides
seems to me like `_get_sort_interval_valid_times` loads `sort_interval` that is defined by the user and `raw data valid times` which is all the valid times associated with a recording and takes their intersection. Isn't this what we want it to do? Are you saying that a recording created with this is always full length?

[2022-05-07 21:55] khl02007 commented on #250
@jguides I think what you're saying is that you want to take intersection between `sort_interval` that you provide and your own version of valid times. If the goal is to restrict the sorting range, can you not achieve this with by changing `sort_inteval`? why do you want to be able to specify your own valid time?

[2022-05-07 22:41] lfrank commented on #250
@khl02007 We need to be able to specify that not all times in raw data are used. For example, it might be that the beginning of  chunk of data is from an animal being transported onto the track. So ... this should all use the user specified interval list, not raw data valid times.

[2022-05-07 22:56] khl02007 commented on #250
I see, I assume this is using the associated entry in `IntervalList`. In
that case the foreign key from `IntervalList` in
`SpikeSortingRecordingSelection` should be a primary key, since it is part
of what uniquely defines a recording.

2022년 5월 7일 (토) 오후 3:41, Loren Frank ***@***.***>님이 작성:

[2022-05-07 23:59] khl02007 commented on #250
@jguides @lfrank thinking more about this, I'm still not sure why one would want to use custom valid times. In your example, what's wrong with including the part of the data during which the animal is being transported? If it contains artifacts, we have artifact rejection for that. It could also reveal something scientifically interesting (e.g. what happens at the moment in which the animal is pla

[2022-05-08 00:35] jguides commented on #250
It seems the code was designed with the thinking that the user can specify a list of valid times (as far as I can tell, this is the sole purpose of "interval_list_name" in SpikeSortingRecordingSelection and SpikeSortingRecording), and then an interval over which to sort. Importantly, "sort_interval" must be a single interval; it cannot be a list of intervals. So if you want to sort over arbitrary

[2022-05-08 03:33] lfrank commented on #250
Just to follow up, the run sessions examples is a great one, as we clearly need to be able to do that, and unless we use the specified interval list, we won’t be able to.

On May 7, 2022, at 5:36 PM, jguides ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

It seems the code was designed with the thinking that the user can s

[2022-05-08 05:29] khl02007 commented on #250
@jguides is there a reason why a sort interval (an entry in the `SortInterval` table) cannot be an interval list (e.g. of all the run epochs)? that might be cleaner than restricting valid times in `IntervalList` and then using the entire time range as the sort interval (actually I don't know what you would use as a sort interval in that case).

in any case if this is a feature we want to keep then

[2022-05-08 05:55] lfrank commented on #250
This was originally because SpikeInterface didn’t support anything except a single sort interval. I would like us to keep the terminology consistent, so it would have to be a SortIntervalList with all the associated changes.

On that topic, now that SpikeInterface does we could make that change, but we need to maintain backward compatibility unless everyone is absolutely fine with changing things.

[2022-05-09 16:37] MichaelCoulter commented on #250
i just ran into the same problem. my training sessions alternate run - sleep - run. if i try to combined two run sessions and exclude the sleep session, the sleep session is still included in my sort because the single sort interval includes the sleep session, even though the interval list does not.

[2022-05-09 19:14] acomrie commented on #250
Thanks for raising this! I'm just commenting with a vote in agreement; I also think we need to be able to define the part of a recording that gets sorted (above and beyond the sort_interval start and stop times and raw data valid times).

Something along the lines of moving interval_list_name in SpikeSortingRecordingSelection() to be a primary key might make sense. Whether any changes should happe

[2022-05-09 22:44] jguides commented on #250
For now, I'll go ahead and push the change @lfrank mentioned in case others want to use it.

[2022-05-10 06:08] khl02007 commented on #231
@MichaelCoulter

#233 should have solved this issue. if it has, please close this issue. if it hasn't, please let me know.

[2022-05-12 00:34] acomrie opened #252 "Only one df can be added to an analysis nwb file"
Only one dataframe can be added to an analysis nwb file using add_nwb_object from AnalysisNwbfile() in common_nwbfile.py. This is because each dataframe gets named with a hard-coded name. This name should instead be unique for each dataframe added as an object in an nwb.

To reproduce, try to add more than one dataframe to an analysis nwb file. For ex with two dataframes,` first_df` and `second_df

[2022-05-12 00:48] #252 closed

[2022-05-19 18:26] shijiegu opened #256 "Import name error in the very first notebook example"
**Describe the bug**
Import name error

**Screenshots**
[code]

[2022-05-19 18:28] shijiegu commented on #256
Spike sorting related names are all not found:
[code]

[2022-05-19 18:44] khl02007 commented on #256
Sorry about that - the notebooks are very much outdated and we are working on updating them. The spike sorting pipeline is now a separate submodule. To import spike sorting related tables, try `from spyglass.spikesorting import SortGroup` etc

[2022-05-20 14:43] edeno commented on #256
Duplicate of #200

[2022-05-20 14:43] #256 closed

[2022-05-25 00:12] shijiegu opened #258 "Sometimes, the nwb file path is not made from ```SPYGLASS_BASE_DIR```."
**Describe the bug**
The nwb file path is not made from ```SPYGLASS_BASE_DIR```.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an nwb file with /opt/stelmo
2. Do ```IntervalPositionInfo.populate()``` on a machine that mounts stelmo at / directly.

**Expected behavior**
If on a different machine, the SPYGLASS_BASE_DIR on /stelmo, the code should run.
```SpikeSortingRecording.populate()

[2022-05-25 00:59] lfrank commented on #258
The best solution here is to fix the mount point to always be /stelmo

Can you do that?

On May 24, 2022, at 5:13 PM, Shijie Gu ***@***.***> wrote:

﻿
Describe the bug The nwb file path is not made from SPYGLASS_BASE_DIR. To Reproduce Steps to reproduce the behavior: Make an nwb file with /opt/stelmo Do IntervalPositionInfo.populate() on a machine that mounts stelmo at / directly. ‍ ‍ ‍ ‍ ‍ ‍ ‍
Zj

[2022-05-27 23:13] lfrank opened #260 "Error in tests related to NWB file"
The current tests fail when inserting the NWB file.

[2022-05-27 23:21] #258 closed

[2022-05-27 23:23] edeno commented on #250
closed by pull request #251

[2022-05-27 23:23] #250 closed

[2022-06-02 02:51] shijiegu opened #263 "Cannot insert nwb. Some tables have datapath set at /opt/stelmo but not /stelmo"
**Describe the bug**
Cannot insert nwb. Some tables have datapath set at /opt/stelmo but not /stelmo
More information:
I extracted this nwb on Virga and I am running insertion on Virga, where stelmo is at /stelmo

[code]

[code]

[2022-06-02 02:55] shijiegu commented on #263
I checked bash path, and I also did:
[code]

I also traced back the error up, the key is correct.

[code]

[2022-06-02 02:58] shijiegu commented on #258
This is a serious bug because this time around I made everything on Virga with /stelmo

[2022-06-02 03:00] shijiegu commented on #263
See also: https://github.com/LorenFrankLab/spyglass/issues/258

[2022-06-02 03:04] edeno commented on #263
I think you need to fix your mount point as @lfrank suggeted so that stelmo is mounted at `/stelmo` instead of `opt/stelmo`

[2022-06-02 03:10] lfrank commented on #263
@shijiegu Can you also print out your dj.config dictionary, particularly the stores part? That is where you define the locations of the stores that datajoint uses, and if you're on a machine where stelmo is not at /stelmo, you'd have to change the dictionary entry to match.

[2022-06-03 04:56] shijiegu commented on #263
@edeno, as stated in the issue statement, maybe not written clearly, I have done everything with /stelmo.
@lfrank, you are right. It is the dj setting. I realized that I could just run the config python script again on virga with the new paths. So for future reference, we need to update ReadMe to say that whenever paths/settings change. Just editing the bash profile is not enough, the config scrip

[2022-06-03 17:45] MichaelCoulter opened #265 "SampleCount table is not populated"
**Describe the bug**
the SampleCount table does not have any entries, so i dont think it has been populated for any nwb file. the table is defined in common_ephys.py

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If appl

[2022-06-03 18:50] lfrank commented on #265
This should now be fixed

[2022-06-03 18:50] #265 closed

[2022-06-04 04:52] #263 closed

[2022-06-04 04:54] shijiegu opened #267 "a new insertion does not work despite I have deleted entries in Session and Nwbfile tables"
**Describe the bug**
As title.

**To Reproduce**
[code]

[code]

[2022-06-04 04:57] edeno commented on #267
See the deleting data section of this tutorial: https://github.com/LorenFrankLab/spyglass/blob/master/notebooks/0_intro.ipynb

You need to remove the nwb file itself using the cleanup method.

[2022-06-04 13:21] shijiegu commented on #267
However, I have deleted the file manually (and I did this because what troubled me then was the nwb file generation that said one of the nwb file is open and it could not generate a new version, so I did not think downstream in Spyglass).
Is there a way to allow me to insert a new version in Spyglass?

[2022-06-04 14:54] lfrank commented on #267
You have to run the datajoint file deletion code even if you delete manually; it keeps track of the files in the store and won’t let you replace them without doing so.

Or did you try that already?

On Jun 4, 2022, at 6:21 AM, Shijie Gu ***@***.***> wrote:

﻿
However, I have deleted the file manually (and I did this because what troubled me then was the nwb file generation that said one of the nwb

[2022-06-04 16:45] shijiegu commented on #267
I realized the clean-up command actually only deletes the underscored version.

[2022-06-04 16:45] #267 closed

[2022-06-08 22:07] dpeg22 opened #269 "insert_manual_curation references a non-existent column in Curation table."
**Describe the bug**
@emilymonroe95 found that in `sortingview.py` the function `insert_manual_curation` has a call to fetch metrics from the Curation table on line 198.
https://github.com/LorenFrankLab/spyglass/blob/005c2fa8d31c0a5d3514f029ccc1855eb24fd91e/src/spyglass/spikesorting/sortingview.py#L198 There is no 'metrics' attribute in `Curation` and therefore this throws an error. The `fetch` ca

[2022-06-10 05:13] #130 closed

[2022-06-10 05:14] #269 closed

[2022-06-10 22:28] shijiegu opened #271 "load portions of LFP data"
Is there a way to load only a bit of LFP data? For spike band data, I can load data on demand using SpikeInterface data format.

[code]

 Could we use a format of nwb data that allows using si objects? As for now, it gives error:
[code]

[2022-06-10 23:02] khl02007 commented on #271
@shijiegu you can use spikeinterface to load nwb files. Just do
[code]
Then you can call `get_traces` and specify the start and end frames to load specific portions. Note that the `load_time_vector=True` allows you to retrieve timestamps (in unix time) when you do `recording.get_times()`. If you don't need it, set it to `False`.

[2022-06-11 16:56] shijiegu commented on #271
The issue with this approach lies in that the filtered LFP nwb file did not write data into the acquisition field:
[code]
[code]

[2022-06-11 17:00] shijiegu commented on #271
For now, Loren's suggestion works. Here is a demo code for others' reference:
[code]

[2022-06-11 17:01] #271 closed

[2022-06-11 17:46] khl02007 commented on #271
@shijiegu Oh I see, it seems the LFP is stored in the scratch space of the NWB file at the moment. I think we can do a better job by using `pynwb.ecephys.LFP`. Would you be interested in making these changes? I don't think it would take very much time.

[2022-06-13 21:45] khl02007 opened #272 "remove checksum requirement for Nwbfile and AnalysisNwbfile"
@edeno

[2022-06-13 21:52] khl02007 opened #273 "remove dependence of `ArtifactRemovedIntervalList` on `ArtifactDetectionSelection`"
**Is your feature request related to a problem? Please describe.**
`ArtifactRemovedIntervalList` table has a dependence on `ArtifactDetectionSelection` but some entries in `ArtifactRemovedIntervalList` (e.g. generated via intersection or union) don't have a natural corresponding entry in `ArtifactDetectionSelection`

**Describe the solution you'd like**
remove the dependence

@shijiegu @acomrie @e

[2022-06-14 15:06] edeno commented on #272
It seems like this is just a variable to set in the dj.config: `filepath_checksum_size_limit` which will disable checking for files larger than that limit. So we need to determine an appropriate file size limit. See https://github.com/datajoint/datajoint-python/pull/1025 for reference.

[2022-06-15 18:33] acomrie commented on #273
Happy to do this if needed but just want to make sure I understand the issue first - can you say more about what you mean by generated via intersection or union? Wouldn't we still want to keep track of how any artifact removal intervals were decided upon? In this case, someone would be able to use custom `ArtifactDetectionParameters` and `ArtifactDetectionSelection` entries, and make a computed ta

[2022-06-15 21:03] khl02007 commented on #272
how about just make it something small, like 10MB?

[2022-06-15 21:06] edeno commented on #272
Well you can set it to None if you don't want any file checking. I think we do want it in a lot of instances, just not the large files. So I think being conservative and saying 1 GB or something of the like would be a good starting point?

[2022-06-15 21:13] khl02007 commented on #272
![image](https://user-images.githubusercontent.com/9277197/173930877-29c208a8-cbce-4344-84fb-889eb2b23fd5.png)

`None` means always check, not never check. Sure let's start with 1GB.

[2022-06-15 21:18] khl02007 commented on #273
yes, but if you take the intersection of two artifact removal intervals that were initially generated with different parameters, what would you put as the `ArtifactDetectionParameters` for the resulting interval?

And do we really want more Computed tables for intersection or union of intervals? Seems like this could quickly get very complicated; e.g. what if I do multiple pairwise unions? I thoug

[2022-06-15 21:41] edeno commented on #272
Oh right, I think setting it to zero is never check. Regardless, I can submit a PR.

[2022-06-15 22:46] acomrie commented on #273
That makes sense about the different parameters. I think in this case someone would just have to make their parameter set dict contain custom parameters about this as additional key value pair(s),  which the custom computed table would use too. Or make a separate param, selection, and computed table if they preferred. I don't really think it gets too complicated for people to have different comput

[2022-06-16 06:59] jguides commented on #273
Thanks @acomrie. When I was figuring out how to insert custom artifact intervals into ArtifactRemovedIntervalList from the across-sort-groups code you mentioned, I think there was this same question of whether it made sense to require population of ArtifactDetectionSelection to populate ArtifactDetectionIntervalList, i.e. if there should be an explicit dependence of ArtifactDetectionIntervalList o

[2022-06-16 14:52] acomrie commented on #273
Thanks @jguides! Agreed that SpikeSortingSelection and therefore SpikeSorting has a primary dependency on ArtifactRemovedIntervalList, and absolutely agree that avoiding regenerating these would be preferable 👍.

The ArtifactRemovedIntervalList dependence on ArtifactDetectionSelection isn't primary right now - so in the case that the change is needed maybe the latter table won't have to be regener

[2022-06-16 15:10] lfrank commented on #273
My understanding is that removing a reference to another table in the key is (or at least used to be) non-trivial. I think it can be done, but if I were doing it I’d need to reach out to DataJoint to make sure we were doing it correctly.

In any case, my preference would be for people writing their own artifact detection code to nevertheless use ArtifactDetectionParameters (which defines the Selec

[2022-06-16 16:38] shijiegu commented on #273
Thanks, everyone. I still do not think there should be an explicit dependence of ArtifactDetectionIntervalList on ArtifactDetectionSelection, since each entry in ArtifactDetectionSelection pertains to a specific sort group, yet the point of ArtifactDetectionIntervalList is to put in intersections/unions from artifacts from multiple sort groups. This created a lot of unnatural/ghost entries for me

[2022-06-16 16:42] lfrank commented on #273
Ah, now I understand it the issue. I think we originally assumed the that there would be custom artifact intervals for each sort group.

Given that that is now the case, it seems like the best think we could do is to remove the SikeSortingRecording from the ArtifactSelectionSelection table and perhaps make a part table with a list of recordings. Not clear to me if we can do that without breaking e

[2022-06-16 17:38] jguides opened #276 "Making spike sorting recording files fails when there are very short data segments"
**Describe the bug**
Making spike sorting recording files fails when there are very short data segments. This occurs when a raw recording has jumps in timestamps that are very close together.

**To Reproduce**
Steps to reproduce the behavior:
Populate SpikeSortingRecording with a recording file with very short data segments.

**Expected behavior**
There should be a way to spike sort files with gap

[2022-06-16 18:30] acomrie commented on #273
I see, I didn't realize this was coming from @shijiegu wanting to remove artifacts across sort groups before spike sorting.  All makes sense. Thanks for chiming in, and thanks @lfrank for your input and suggestion too!

The current artifact detection schema were indeed designed for primarily single sort group artifact removal just to have something up and working for us to be able to move ahead at

[2022-06-16 19:19] jguides commented on #273
@acomrie these are good points. I agree that it would be nice to have a lab-wide solution to detecting artifacts across sort groups available to folks. I am happy to share my code for this purpose and actually offered to do so a month or two ago when @MichaelCoulter wanted to detect artifacts across sort groups. At this time, @khl02007 proposed an alternative solution to across sort group detectio

[2022-06-16 22:55] MichaelCoulter commented on #273
I tried Kyu's suggestion (to make a sort group with many tetrodes) and I think it worked for artifact detection and spike sorting. I ended up not using this because it missed some of my artifacts and so detecting artifacts on each single tetrode was a better way for me to remove my artifacts (commutator noise and very bad lick artifact).

[2022-06-17 18:02] shijiegu commented on #273
@MichaelCoulter I am curious as to how you use single tetrode for commutator noise and very bad lick artifact. For me, the different things about artifacts, either animals banging their head in the wall of the maze or lick artifacts is that they show up simultaneously across multiple tetrodes, in the same time bin of 1/30 ms. I currently use a 100mV threshold across 50% of tetrodes. Despite some a

[2022-06-22 16:45] jguides commented on #276
@khl02007 @edeno @lfrank any preferences on how to approach this? Should the user be expected to mask out the small time segments prior to generating recordings for spikesorting? Or would you prefer a solution within the pipeline for generating recordings for spikesorting, that allows a user to pass in recordings with small time segments?

[2022-06-22 19:00] lfrank commented on #276
@jguides Sorry for the delayed response. My suggestion would be to add a minimum segment length parameter to the spike sorting preprocessing parameters and then to have the _get_sort_interval_valid_times function of SpikeSortingRecording take than and only return intervals that are longer than the minimum. Would that work?

There is an intervals_by_length function in common_interval which should d

[2022-06-23 20:39] emilymonroe95 opened #279 "Unclear how to assign parent ID for multiple rounds of curation"
**Describe the bug**
I am currently getting an error while trying to insert a key into the AutocurationSelection table during a second round of autocuration.

Currently, from my understanding, the way to do a second round of curation is to grab and edit the autocuration_out_key(as defined below) in a multi step process:

1. Auto_curation_id = sgss.AutomaticCuration & autocuration_key.fetch1('auto_

[2022-06-23 23:19] jguides commented on #276
@lfrank this sounds great to me. I just submitted a pull request.

[2022-06-23 23:25] emilymonroe95 commented on #279
@khl02007 @lfrank @dpeg22 @jguides

Hi everyone! To give an update (special thanks to @acomrie, Kyu, and Loren, and Daniel for your help!).. we have discovered that _Everything_ needs to be done serially. That is, one needs to calculate the waveforms, metrics, and do autocuration in one full round (resulting in curation_id =1 in the curation table), and then AFTER that, calculate the waveforms, me

[2022-06-24 00:00] emilymonroe95 opened #281 "Allow for 2 thresholds for the same metric, or apply label to absolute value of the metric."
**Describe the bug**
Currently, the peak offset metrics has positive and negative values, depending on whether the offset peak comes before or after the spike time. If one wants to apply a threshold to this metric independent of whether it comes before or after the spike time, one would have to have two parameters- greater the positive threshold, and less than the negative threshold. The autocurat

[2022-06-24 02:56] dpeg22 commented on #281
Just a note: this behavior occurs because you cannot have two matching keys in the same dictionary, so having
[code]
Will always result in a single entry. I believe we'd have to change either how we parse the list that contains the threshold and comparison operator or how we instantiate `label_params`. I think changing how we parse and checking for multiple operators seems like the cleanest option

[2022-06-24 03:25] jguides commented on #279
@emilymonroe95 thanks so much for catching this. Super helpful to know.

[2022-06-26 20:08] lfrank commented on #281
As @emilymonroe95 and I discussed, I think we should just take the absolute value of the peak offset metric and use that for the moment. I believe a pull request is in the works for that.

[2022-06-26 20:24] lfrank commented on #279
Having the metrics inherited is actually not something we can do easily, as the pipelines assume that metrics are computed for each curation. That ensures that merges are properly dealt with.

The question for everyone is whether we can compute metrics only on whitened waveforms, in which case the current pipelines will work, or whether we need to compute them on both whitened and unwhitened wavef

[2022-06-26 20:24] lfrank commented on #276
I believe this has been fixed in @jguides now-merged pull request

[2022-06-26 20:24] #276 closed

[2022-06-26 20:27] lfrank commented on #226
This would be great, but has to be done by modifying every table to include a custom delete method, and unfortunately the custom delete methods don't get called when deleting downstream tables.

An easier current solution would be for people to make their own tables (e.g. mcoulter_spikesorting) and add their sorts / other entries to those tables, as only the owner and potentially other specific te

[2022-06-26 20:28] #260 closed

[2022-06-26 21:14] lfrank commented on #272
Completed in PR

[2022-06-26 21:14] #272 closed

[2022-06-26 21:43] lfrank commented on #248
I agree this would be a good idea. For the moment I could imagine posts to the nwb-analysis-dev channel, but a more organized solution would be better.

[2022-06-26 22:31] lfrank commented on #217
@MichaelCoulter Have you been able to follow up on this so we can try to identify the source of the error?

[2022-06-26 22:31] lfrank commented on #203
This can now be fixed by disabling file checksums in the dj.config dictionary

[2022-06-26 22:31] #203 closed

[2022-06-26 23:17] MichaelCoulter commented on #217
No, not yet, I will try Ryan's suggestion now.

[2022-06-26 23:28] MichaelCoulter commented on #217
here is the error traceback. it seems to be related to the timestamps for one of the video files. im not quite sure that this all means. as before this is generated during SpikeSortingRecording.populate() on this day, although not using the video file mentioned in the error. @edeno and ideas?

---------------------------------------------------------------------------
UserWarning

[2022-06-26 23:32] lfrank commented on #217
@rly This looks to me to be caused by the fact that we don’t have the image series itself stored in the NWB file. Is that right?
@michaelcounter: If so, this is not a real problem.

On Jun 26, 2022, at 4:28 PM, MichaelCoulter ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

here is the error traceback. it seems to be relate

[2022-06-27 17:59] khl02007 commented on #248
@acomrie
The database is defined by our python code and the changes to the python code is automatically kept track of by git history. This includes things like `alter`, which involves specifying a new key or default value. I suppose what you're pointing out is that you'd like to keep track of deletes and drops as well, which are not reflected in the code base. In general, I think this is only a pr

[2022-06-27 19:31] acomrie commented on #248
Thanks all. I generally agree here, things are fine and workable as is - I would only clarify that this was a much simpler thought for a more accessible log or standard protocol for announcing when common tables undergo structural changes like dropping, altering, deleting, regenerating from a backup, etc, to make it more user friendly to track down changes and easier to reference what has happened

[2022-06-28 23:47] emilymonroe95 commented on #279
The current conclusion is that it would probably be fine to use the whitened waveforms to calculate the peak offset, even though it gives slightly different results.

Just for a record of the differences- I tested 2 probe shanks and 1 tetrode. The whitened waveforms result in many more units with offset = 1, that had offset = 0 in the non-whitened. Also, many of the offsets from the non-whitened w

[2022-06-28 23:47] #279 closed

[2022-06-30 20:41] #281 closed

[2022-07-01 18:13] lfrank opened #283 "Create spyglass configuration dictionary to store configuration information."
It would be helpful for us to have a spyglass configuration dictionary (like datajoint's dj.config) for things like
1) Preferred download mechanism (kachery-cloud vs. DANDI)
2) Mapping of NWB fields to schema for imports of other lab's data sets, etc.

[2022-07-01 19:23] shijiegu opened #284 "(1040, 'ny connections')"
I use parallel processing for each session and each tetrode for some processing.
This ends up with the error of "(1040, 'ny connections')"
Per this website, it might be a database configuration issue?
https://stackoverflow.com/questions/14331032/mysql-error-1040-too-many-connection

[2022-07-08 17:19] emilymonroe95 opened #285 "UnitInclusion Table"
**Is your feature request related to a problem? Please describe.**
The current curation pipeline assumes that users should just reject noise/ artifact in the automatic curation, so that any biological signal moves on to CuratedSpikeSorting. We should reinstate the UnitInclusion table so that lab members can use common parameters to sort the MUA from single units downstream of Curation.

**Describe

[2022-07-08 17:54] emilymonroe95 opened #286 "Potential Metric- Standard Deviation : Mean ratio"
**Is your feature request related to a problem? Please describe.**
There are some units that have very large standard deviations in their waveforms (grey background), but aren't detected by any "lab standard" thresholds on the metrics. See screenshot.

**Describe the solution you'd like**
We should implement a metric that takes the ratio of standard deviation to the mean for information about how

[2022-07-08 18:28] emilymonroe95 opened #287 "Suspicious snr"
**Describe the bug**
Firstly, our lab based snr values are significantly different than the ones (SNR) from sortingview (I think thats where they come from). Secondly, across sorts, there are often multiple units in a row who have almost the exact same SNR, which should be impossible. We should investigate how our SNR is calculated.

**To Reproduce**
See screenshots. Units 5,6,7 have the same lab-

[2022-07-08 18:59] emilymonroe95 opened #288 "Metric to detect upward going action potentials"
**Is your feature request related to a problem? Please describe.**
When detecting negative going spikes, the peak offset metric works well for detecting other large negative deflections on the peak channel that are not the triggering event. This metric, though, does not help to detect large positive going action potentials. Trying to use peak offset to detect positive peaks results in almost every

[2022-07-15 20:24] emilymonroe95 opened #295 "URL generation error: include_curation = True"
**Describe the bug**
Currently, the URL generation is giving me an error due to line 170 in spyglass/spikesorting/curation. `"Spikesortingview() got an unexpected keyword argument ' include curation'.`" Interestingly, the URL is still generated/printed/functional, but wanted to make note of this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to generate a URL with the new sorting

[2022-07-15 20:33] emilymonroe95 opened #297 "Include set_snippet_len in workspace generation"
**Is your feature request related to a problem? Please describe.**
The set_snippet_len method exists but is not being utilized in the current pipeline. This makes it unclear what the window length around each unit is in the URLs. Though I haven't testing the use of this function, I want to make a reminder for someone to incorporate it again later.

This method is created in [src/spyglass/spikesort

[2022-07-16 01:47] MichaelCoulter opened #298 "Exception: Error in createFeed (500) Internal Server Error: Error: Invalid kacherycloud request"
This is the error I get when trying to run ss.SortingviewWorkspace.populate() with the current code. I think I'm just doing something wrong, but I'm not sure how to fix this. Thanks.
---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
Input In [5], in <cell line: 6>()
     23 ## add to sortingview w

[2022-07-16 01:57] lfrank commented on #298
Can you check your environment variables?

On Jul 15, 2022, at 6:48 PM, MichaelCoulter ***@***.***> wrote:

﻿
This is the error I get when trying to run ss.SortingviewWorkspace.populate() with the current code. I think I'm just doing something wrong, but I'm not sure how to fix this. Thanks. Exception Traceback (most recent call last) ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍
ZjQcmQRYFpfptBannerStart
This Message

[2022-07-19 02:58] #298 closed

[2022-07-25 01:38] MichaelCoulter opened #301 "spike sorting recording populate is a lot slower than before."
i noticed today that making new spikesortingrecording files (SpikeSortingRecording.populate())is taking a lot longer than it did about a month ago. i realize there have been many changes, is there anything you can think of that might have caused this? 1 tetrode used to take about 3 mins and now takes 10-12 mins (one tetrode for a recording that is about 2.5 hours long). it is also using about 60-8

[2022-07-25 02:58] lfrank commented on #301
Could you try running a line-by-line profiler so we can see what is taking most of the time?

Instructions are at https://jakevdp.github.io/PythonDataScienceHandbook/01.07-timing-and-profiling.html#Line-By-Line-Profiling-with-%lprun

In general a profiler is (I think) the best way for us to figure out what takes time to run.

On Jul 24, 2022, at 6:38 PM, MichaelCoulter ***@***.******@***.***>> wro

[2022-07-25 05:47] MichaelCoulter commented on #301
This is the output from the line profiler. It looks like line 230 of this file has 100% of the time. However, I don't know what this file is or how it is used: /home/mcoulter/anaconda3/envs/spyglass/lib/python3.9/site-packages/datajoint/autopopulate.py.

Line 230 is "error = self._populate1(key, jobs, **populate_kwargs)" and it is called 1327475923.0 times.
---
Timer unit: 1e-06 s

Total time: 132

[2022-07-25 05:49] MichaelCoulter commented on #301
The formatting of the line profile output got lost, so I saved the output as a text file.

[spikesortingrecording_timing.txt](https://github.com/LorenFrankLab/spyglass/files/9178333/spikesortingrecording_timing.txt)

[2022-07-25 14:59] lfrank commented on #301
Okay, that turned out not to be helpful. @edeno do you have suggestions for profiling here? @MichaelCoulter there are various other python profilers out there (see, for example https://www.infoworld.com/article/3600993/9-nifty-libraries-for-profiling-python-code.html) and one of them should work.

I have time today to help if that would be useful.

On Jul 24, 2022, at 10:49 PM, MichaelCoulter ***@

[2022-07-25 17:19] edeno commented on #301
I prefer snakeviz as a way to visualize the line profiler output and explore the bottlenecks: https://jiffyclub.github.io/snakeviz/

[2022-07-25 19:01] MichaelCoulter commented on #301
thanks, i will try that.

[2022-07-26 06:14] MichaelCoulter commented on #301
i couldn't get a line profiler to work, so i tried print statements and it seems like almost all the time (>95%) is spent on the save function after everything else happens:

[319]        recording = recording.save(folder=key['recording_path'], n_jobs=1,
                                   total_memory='10G')

do you know why this would be so slow? is it just a problem with st elmo?

[2022-07-26 06:37] MichaelCoulter commented on #301
this single tetrode took 22 mins to make the recording (the recoding was 2.5 hours). this is a bit frustrating how slow it is.

[2022-07-27 07:07] MichaelCoulter opened #302 "failed import of sortingview"
a package called pyvips is now required when importing sortingview. this prevents importing if you just rebuilt the spyglass environment. i can try to make a merge request to update environment.yml tomorrow.

[2022-07-27 14:42] lfrank commented on #302
@MichaelCoulter: ideally that would be an issue filed with sortingview, as it should be self contained. Can you post it there?

On Jul 27, 2022, at 12:07 AM, MichaelCoulter ***@***.***> wrote:

﻿
a package called pyvips is now required when importing sortingview.⁠​ this prevents importing if you just rebuilt the spyglass environment.⁠​ i can try to make a merge request to update environment.⁠​yml

[2022-07-27 16:43] #302 closed

[2022-07-27 16:44] MichaelCoulter commented on #302
jeremy said he just fixed this

[2022-07-29 16:56] zoldello opened #304 "LabMemberInfo should not ask for full_name"
**Description**
In **common_lab,** in **insert_from_name** method, first and last names are obtained from splitting full_name by space. That is not a case that fit all scenarios and should be changed. For example, There is "Kyun Hyun Lee" whose first name is "Kyu Hyun" (yes, "Hyun" is not his middle name) and last name is "Lee". There is also a case like "Barbara Di Eugienio" whose first name is "

[2022-07-29 18:59] zoldello opened #305 "Some cell the notebook tutorials do not work"
**Describe the bug**
Some of the cells in the notebooks tutorial don't work. Like some table names were changed. All notebooks need to be examined and issues fixed

**To Reproduce**
Run all notebooks

**Expected behavior**
All notebooks pass

[2022-07-29 19:13] zoldello opened #306 "Potporri of features for documentation requested"
This is more like an EPIC than a task. I will break up individual task into new issues later.

1. Move some part of readme on the homepage to documentation
2. Push spyglass to PyPI
3. Take common_spyglass out of API in documentation
4. Address Git action that updates documentation branch
5. Add schema diagram to pages
6. Add a documentation link to readme on homepage.

[2022-07-31 02:18] jguides opened #308 "wrong B-tree signature error when writing spikesorting recording"
I got the following error when trying to make a spikesorting recording for the file peanut20201114_.nwb. Thanks in advance for any thoughts or help.

`write_binary_recording with n_jobs 1  chunk_size 156250000

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
Input In [10], in <cell line: 1>()

[2022-08-01 21:22] rsnevers opened #309 "Whitened waveform amplitudes should be stored as float16 instead of int16"
I'm currently fetching the whitened waveforms using the load_waveforms method from the Waveforms schema. The data itself is represented as int16, but this data type doesn't have enough resolution. For example, a cluster with a very large average waveform (cluster 3 in the attached image) consists of waveforms whose data points only span a range of -76 to 156. In short, I think the whitened wavefor

[2022-08-02 16:16] lfrank commented on #309
@khl02007 After thinking about this more I'm also concerned that we're losing too much dynamic range on the metrics with this conversion. I don't know how to force it to output float16, however. I've asked Alessio about that, and if you have ideas, please let us knw.

[2022-08-02 23:14] khl02007 commented on #309
Yes, we can just pass `dtype='float16'` when we call `si.extract_waveforms` [here](https://github.com/LorenFrankLab/spyglass/blob/765098e0f30584a276175086412149994a76ef7b/src/spyglass/spikesorting/spikesorting_curation.py#L294). It should probably be a part of `waveform_params`. @rsnevers would you like try that?

[2022-08-02 23:58] rsnevers commented on #309
Hi @khl02007, this worked. To be specific, I created a new entry in the WaveformParameters table and explicitly specified the float16 datatype in the parameters dictionary. When I fetched the waveforms for the cluster I showed above, there are now 3687 unique data points instead of the 233 when fetching waveforms as int16.

[2022-08-02 23:58] #309 closed

[2022-08-03 00:25] khl02007 commented on #23
@zoldello ok to close this?

[2022-08-03 00:27] khl02007 commented on #217
@MichaelCoulter do you still have this issue?

[2022-08-03 00:43] khl02007 commented on #284
@shijiegu are you still experiencing this issue?

[2022-08-03 01:11] MichaelCoulter commented on #217
i think the error is still there. @rly does what loren suggested make sense at the cause?

[2022-08-04 16:01] #301 closed

[2022-08-04 17:43] rly commented on #217
@MichaelCoulter could you please update PyNWB to the latest version and let me know if you still encounter this issue? This should be fixed in the latest version.

[2022-08-04 23:28] zoldello commented on #305
Being examined with https://github.com/LorenFrankLab/spyglass/tree/jupyter-notebook-fixes

[2022-08-05 00:16] MichaelCoulter commented on #217
great, i don't see the error any more.

[2022-08-05 00:16] #217 closed

[2022-08-14 19:19] jguides commented on #308
Just noting that I still got this error after pulling recent spyglass changes. I will try regenerating this nwb file after changes have been made to correctly order .part files (this affects this particular file), and see if that solves the issue.

[2022-08-14 19:30] lfrank commented on #308
@rly any idea what might be causing this?

On Aug 14, 2022, at 12:20 PM, jguides ***@***.***> wrote:

﻿
Just noting that I still got this error after pulling recent spyglass changes. I will try regenerating this nwb file after changes have been made to correctly order .part files (this affects this particular file), and see if that solves the
ZjQcmQRYFpfptBannerStart
This Message Is From an Extern

[2022-08-18 00:59] MichaelCoulter opened #320 "error with inserting into UnitMarkParameters"
hi all, im getting an error i don't understand.

im trying to run this code, which i think has the correct fields for the UnitMarkParameters table, but i get an attribute mismatch error (below). can someone help me see what i'm doing wrong? thanks.

**Code:**
key = {}
key['curation_id']= 0,
key['nwb_file_name']= 'CH6520211125_.nwb',
key['sort_group_id']= 1,
key['sort_interval_name']= 'raw data val

[2022-08-18 19:42] #320 closed

[2022-08-24 16:51] MichaelCoulter opened #325 "error in master branch in sorting view helper functions script"
get this error when trying to generate a sortingveiw workspace. i think this paragraph should be commented out until the similarity matrix metric is actually calculated

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Input In [2], in <cell line: 9>()
     26 ## add to sortingview workspace for

[2022-08-25 01:34] #325 closed

[2022-08-25 22:43] rly opened #327 "pyfftw cannot be installed from pip on Mac M1"
When I create a clean environment on my Mac M1 laptop, I get this error:
[code]

This is a known issue in pyfftw. A workaround is to install from conda-forge instead of PyPI.

[2022-08-25 23:15] #327 closed

[2022-09-07 22:28] zoldello commented on #304
This is a bigger discussion as there is no way to identify a last name if a team member first and last name together (full_name) have two or more spaces. The solution I recommend is to make full_name be a dictionary with keys - first_name and last_name.

[2022-09-15 16:39] edeno opened #338 "Document interval types"
It would be good to have specific documentation that specifically describes 'raw data valid times', 'pos x times', etc. and how they are calculated.

[2022-09-15 22:11] edeno opened #339 "Add plots for sanity checking"
It would be good to develop a series of plots for each pipeline that would help the user diagnose any problems before they build more on top of it.

[2022-09-17 22:33] #204 closed

[2022-09-17 22:41] #12 closed

[2022-09-17 22:41] #284 closed

[2022-09-17 22:43] #306 closed

[2022-09-17 22:43] #232 closed

[2022-09-17 22:48] #23 closed

[2022-09-18 00:15] #62 closed

[2022-09-19 22:43] djarecka opened #340 "installation error"
**Describe the bug**
Have issue installing  `pip install spyglass-neuro`

[code]

**To Reproduce**
this specific error is on my M1 osx with python3.8 and pip 22.2.2.

 I have tried also different pythons and systems, and got various errors (some complained about `ERROR: Failed building wheel for pyfftw`, some `ERROR: Failed building wheel for isosplit5`). Let em know if you need details

[2022-09-19 22:47] edeno commented on #340
Hi Dorota,

Thanks for trying this out. We have actually only tested this on linux and this our first release, so it's not surprising that there are some issues. Can you try installing this way: https://lorenfranklab.github.io/spyglass/type/html/installation.html#installing-packages ?

[2022-09-19 23:07] khl02007 commented on #340
Hi @djarecka, `spyglass` uses `ghostipy` for LFP processing and `ghostipy` relies on `pyfftw`. Unfortunately `pyfftw` does not publish prebuilt wheels on PyPI - you will have to use conda-forge:

`conda install -c conda-forge pyfftw`

[2022-09-19 23:09] khl02007 commented on #340
@edeno sorry, I closed the issue by accident...

[2022-09-19 23:27] djarecka commented on #340
@edeno - yes, installing it by running `conda env create -f environment.yml` works, just tried to follow the newest readme.

@khl02007 - running `conda install -c conda-forge pyfftw` didn't help for py3.8 (still the same error as reported), for py3.9 it finished, but I can still see some error in the output (`ERROR: Failed building wheel for isosplit5`)

Anyway, I will be using the version from gi

[2022-09-20 23:31] rsnevers opened #342 "Install documentation uses kachery-client instead of kachery-cloud"
I'm helping to set up spyglass on a new machine and following the install instructions at
[https://lorenfranklab.github.io/spyglass/type/html/installation.html](https://lorenfranklab.github.io/spyglass/type/html/installation.html
)

On step 3 under "Setting up database access", there is a command that calls `kachery-client` to check for access to the `kachery` daemon. Apparently, we are now using

[2022-09-21 20:19] rly commented on #340
Hi @djarecka ,

I can install pyfftw from conda-forge on py3.8 on my Mac M1.
[code]
What error did you get?

The isosplit5 error is a separate issue that I think is actually a non-issue. isosplit5 requires pybind11 during setup, and pip downloads pybind11 but cannot find it for some reason. However, isosplit5 seems to install just fine anyway. I'll look into it. If you want to prevent the error, p

[2022-09-21 21:11] #243 closed

[2022-09-21 21:13] MichaelCoulter opened #345 "missing connection between automatic curation table and curation table"
if i delete an entry from the automatic curation table, the corresponding entry in the curation table is not deleted.

i also don't know how to find the automatic curation parameters that were used to generate an "auto curation" entry in the curation table. and likewise for an entry in the curated spike sorting table.

maybe i just don't know how to do this. thanks for any help.

[2022-09-21 21:59] lfrank commented on #345
It is indeed true that curation entries are separate from automatic curation entries. There isn’t much we can do to automate that, but we could write a cleanup() function within the Curation table to make sure that all curations that have an associated AutoCuration are valid (e.g. are associated with a real AutoCuration).

Separately, to find the parameters that were used, given a curation entry,

[2022-09-21 22:06] dpeg22 commented on #345
So it seems like there are two issues that stem from the lack of a dependency from Curation on AutomaticCuration (which would be circular):
-> Hanging entries in `Curation` after deleting from `AutomaticCuration`
-> How to link a `Curation` entry to the `AutomaticCuration` that generated it
The first seems like it could be taken care of using an overridden `delete` method on `AutomaticCuration` th

[2022-09-21 22:09] lfrank commented on #345
I responded to the email but for some reason it didn't appear here. Anyhow, @MichaelCoulter @dpeg22 here's what I said:

It is indeed true that curation entries are separate from automatic curation entries. There isn’t much we can do to automate that, but we could write a cleanup() function within the Curation table to make sure that all curations that have an associated AutoCuration are valid (e.

[2022-09-21 22:17] khl02007 commented on #345
@dpeg22 @MichaelCoulter It's been a while so I don't remember everything, but can't you use the `parent_curation_id` attribute of `Curation` table? Let's say you did an automatic curation. Now you have two entries in `Curation` table: the original sorting, and the sorting inserted after automatic curation. To find the entry in `AutomaticCuration` table corresponding to the second entry, you can lo

[2022-09-21 22:18] khl02007 commented on #345
If, on the other hand, you want to go from an entry in `AutomaticCuration` table to the corresponding entry in `Curation` table, then you can just look the up the key for it as @lfrank said.

[2022-09-21 22:25] khl02007 commented on #345
As for the breaking of the dependency, is it a bug or a feature? Let's say you do a round of automatic curation and then a round of manual curation on top of that. If deleting an entry in `AutomaticCuration` deletes everything that comes from it in `Curation`, then the manual curation would also be deleted. Maybe we want that because we want to have a complete record of everything. Or maybe we wan

[2022-09-21 22:33] dpeg22 commented on #345
@lfrank I agree and after seeing your first post I tried querying `AutomaticCuration & {'auto_curation_key': key_from_curation}` and got a SQL syntax error, but don't see anything wrong with my call. Happy to provide more details on the error (it was quite long) if that would be useful.

@khl02007 If the round of manual curation is on top of the automatic curation, then shouldn't it be deleted as

[2022-09-21 22:53] MichaelCoulter commented on #345
i think it makes sense to remove the manual curation that is downstream of a particular automatic curation. i don't think a manual curation is that useful if the automatic curation entry upstream has been deleted.

[2022-09-21 23:26] lfrank commented on #345
That’s fine, but it requires a clean up function. It’s not that hard to write, but it would have to be done.

On Sep 21, 2022, at 3:53 PM, MichaelCoulter ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

i think it makes sense to remove the manual curation that is downstream of a particular automatic curation. i don't think

[2022-09-21 23:27] lfrank commented on #345
@dpeg22

Sorry, I should have specified: you can’t query on a blob, so you’d have to retrieve the relevant autocurations using part of the key and then search through them. This could be fairly easily written as a function in AutoCuration that returns the entry given the curation key, I think.

On Sep 21, 2022, at 3:33 PM, dpeg22 ***@***.******@***.***>> wrote:

This Message Is From an External Se

[2022-09-21 23:43] lfrank commented on #345
@dpeg22 I should have clarified: you can't query on blobs, so this would have to be something that finds the relevant set of entries based on a subset of the key elements and then searches through them for the correct match.

[2022-09-21 23:44] rsnevers opened #346 "Broken link to example NWB file in tutorial notebooks"
In the first tutorial notebook in this repo [`0_intro.ipynb`](https://github.com/LorenFrankLab/spyglass/blob/master/notebooks/0_intro.ipynb), there is a link to an example dataset called `beans20190718.nwb` (hyperlink [here](https://www.dropbox.com/s/srra33e0igaj5rm/beans20190718.nwb?dl=0)). Unfortunately, it looks like this file has been moved or deleted.

[2022-09-21 23:47] edeno commented on #346
FYI, there have been some changes to spyglass since the tutorials were created, so errors will be expected. We hope to update them soon. This particular error probably occurred because of some of the reorganization of the nwb files.

[2022-09-22 00:27] zoldello commented on #346
This was addressed in jupyter-notebook-fixes branch and @dpeg22  is going to make further changes.

[2022-09-22 00:47] khl02007 commented on #345
@dpeg22 yes if you do multiple, parallel rounds of automatic curation on the same sorting then there is no easy way to identify the corresponding entry in `AutomaticCuration` table (other than maybe iterating through the all the entries and finding the matching `auto_curation_key`). Maybe instead of keeping track of `parent_curation_id` we should assign unique IDs to the automatic curations and ke

[2022-09-22 01:00] edeno commented on #346
PR #314

[2022-09-23 16:23] MichaelCoulter opened #347 "import of spyglass common fails from master branch"
i tried to import spyglass:
import os
import numpy as np
import datajoint as dj
import spyglass as nd
import pynwb
# ignore datajoint+jupyter async warnings
import warnings
warnings.simplefilter('ignore', category=DeprecationWarning)
warnings.simplefilter('ignore', category=ResourceWarning)

from spyglass.common import (Session, IntervalList,LabMember, LabTeam, Raw, Session, Nwbfile,

[2022-09-23 16:27] edeno commented on #347
Seems like you need to upgrade opencv:

https://stackoverflow.com/questions/72706073/attributeerror-partially-initialized-module-cv2-has-no-attribute-gapi-wip-gs

I would try `conda upgrade opencv`

[2022-09-23 17:07] MichaelCoulter commented on #347
thanks. i reinstalled the environment and now it works.

[2022-09-23 17:07] #347 closed

[2022-09-23 18:02] MichaelCoulter opened #348 "insert_sessions function doesn't work"
today, i tried to run this command:
import spyglass as nd
nd.insert_sessions('CH6520211202.nwb')

but i got this error:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Cell In [7], line 3
      1 # insert nwb file
----> 3 nd.insert_sessions('CH6520211202.nwb')

AttributeError: module 'spyglass'

[2022-09-23 18:07] dpeg22 commented on #348
@khl02007 could we add this to the __init__.py for spyglass so that the changed import isn't necessary?

[2022-09-23 18:09] MichaelCoulter commented on #348
maybe this change was documented somewhere, and i didn't know where to look for it. if there is a place i should be looking for this documentation, please let me know.

[2022-09-23 22:54] edeno commented on #348
Due to recent changes, this has to be done via:
[code]

[2022-09-23 22:54] #348 closed

[2022-09-23 22:55] edeno commented on #346
This has now been fixed with the merge of PR #314 . Closing this issue.

[2022-09-23 22:55] #346 closed

[2022-09-23 22:55] edeno commented on #342
@Phil can you update the documentation?

[2022-09-23 22:56] edeno commented on #340
@djarecka we have now updated the pip install if you'd like to try again.

[2022-09-23 22:57] edeno commented on #305
This is now mostly fixed by PR #314 . Still some issues with curation to be fixed in a future PR.

[2022-09-23 22:57] #305 closed

[2022-09-23 22:58] #123 closed

[2022-09-23 22:58] #131 closed

[2022-09-23 22:58] #200 closed

[2022-09-24 06:21] MichaelCoulter opened #349 "figurl has no data and says "invalid figure data""
i pulled the spyglass repo today and pulled the sortview and spikeinterface repositories, however, when i generate a new sortingview workspace, the figURL has no data. any help would be appreciated, thanks.

command:
auto_curation_params_name = 'mike_noise_only_10'

for nwb_file_name in ['ginny20211024_.nwb']:
    for tetrode in [0]:
        autocuration_key = (SpikeSorting & {'nwb_file_name' : nw

[2022-09-24 15:29] jguides opened #350 "ISI violation fraction does not reflect fraction of ISIs that are violations"
The interspike interval (ISI) violation fraction is currently calculated as the number of ISI violations divided by the total number of spikes from a unit. This means that different units could have 100% of their ISIs be violations, but depending on the number of spikes, the calculated fraction would vary (e.g. 2/3 for a unit with 3 spikes vs. 99/100 for a unit with 100 spikes). A more interpretab

[2022-09-24 15:52] edeno commented on #349
Is the table upstream of this populated?

[2022-09-25 22:44] MichaelCoulter commented on #349
yes, the upstream table, Curation, is populated. and the SortingviewWorkspace table is also successfully populated.

[2022-09-25 23:32] djarecka commented on #340
Looks like the installation for py3.9 worked now! (however I don't have time to test the usage, will be offline for a week, and will try once I'm back)

But this is what I get from 3.8 (following @rly instruction) from `pip install spyglass-neuro`:

[code]

[2022-09-26 02:43] MichaelCoulter opened #351 "error while trying to get marks"
i have built a new spyglass environment using the environment.yml file on 9/24/22. now i get the following error

**code i ran**
[code]
**error**
[code]

i tried to search this error and i found that it was fixed in xarray in 2019, so i am pretty confused. any help would be appreciated. maybe i am just doing something wrong.

[2022-09-26 02:45] MichaelCoulter commented on #351
xarray in my conda environment says this:
xarray                    2022.6.0           pyhd8ed1ab_1    conda-forge

[2022-09-26 16:51] MichaelCoulter commented on #351
this key used to work to make a marks table, but not it gives the error above

(UnitMarksIndicator() & {'nwb_file_name': 'CH6520211127_.nwb'}
& {'sort_group_id':2}).fetch_xarray()

[2022-09-26 18:11] edeno commented on #351
I'm having trouble reproducing this error. I used a fresh install of spyglass and conda environment. Also with xarray 2022.6.0

[2022-09-26 19:52] #351 closed

[2022-09-26 19:52] edeno commented on #351
Reinstalling the environment solved the problem.

[2022-09-26 19:55] edeno commented on #349
Just noting this from slack. This is related to issues with sortingview. If this is needed, currently you will need to `pip install 'sortingview=0.9.17'` until this is fixed.

[2022-09-26 20:48] khl02007 commented on #350
@jguides just checking: you are suggesting dividing by `n_spikes-1` instead of `n_spikes` right?

[2022-09-27 04:26] jguides commented on #350
@khl02007 yes.

[2022-09-27 04:38] khl02007 commented on #350
sounds good, feel free to submit a PR

[2022-09-27 14:36] edeno commented on #349
Should be fixed by `pip install 'sortingview=0.11.0'`

[2022-09-27 14:36] #349 closed

[2022-09-28 16:46] khl02007 commented on #308
@jguides Can you try upgrading h5py to 3.7?

[2022-09-29 03:52] #350 closed

[2022-09-30 00:05] jguides opened #356 "cannot save list to analysis nwb file, and challenge with storing nested data"
I ran into a number of errors when trying to save a list to an analysis nwb file. A description of this is below. I think there is a second challenge here, which is that there doesn't currently seem to be a straightforward way to save nested data. I will describe the context in which I encountered these issues. Thanks in advance for any thoughts or advice.

My original goal was to store the train

[2022-09-30 00:18] lfrank commented on #356
@rly Do you have a thought as to how we should proceed here?

[2022-10-01 19:10] zoldello commented on #342
@rsnevers Please, verify this was fixed. If not, reopen this ticket.

[2022-10-02 00:15] khl02007 commented on #342
@zoldello simply changing `kachery-client` to `kachery-cloud` doesn't work - the whole section must be changed. I thought I had changed it and pushed it to documentation branch yesterday but it seems it has been changed back and I don't see it in the commit history. Do you know what happened?

[2022-10-02 20:02] zoldello commented on #342
@khl02007 I will look into this. I made a mistake where I changed the type to` kachary-client` from `kachery-cloud` and I undid that with a commit. I did not remove the entire commit because I had other things that were part of it (bad practice for commits to not be atomic.) Otherwise, the text was not change from what you did. Maybe it got affected when I rebased the code off `master `to update t

[2022-10-02 20:16] khl02007 commented on #342
@zoldello I just pushed the updated `installation.md` to my fork (kyu/documentation). do you think you can get it from there?

[2022-10-02 20:22] zoldello commented on #342
@khl02007 I will get it off there and update you.

[2022-10-03 00:50] rsnevers opened #357 "Can't LFP filter because ghostipy is not imported into global namespace"
The `ghostipy` package used for designing filtering data is imported within a function instead of globally (with the rest of the import statements at the beginning of the module).

https://github.com/LorenFrankLab/spyglass/blob/a446fce1fa6f2eadabf1717a2d57708f185e67f9/src/spyglass/common/common_filter.py#L16-L23

This function `_import_ghostipy()` gets called whenever ghostipy methods are used, bu

[2022-10-03 04:15] khl02007 commented on #357
@rsnevers could you elaborate? do you mean that you don't get the import error and yet `ghostipy` functions that are called later don't work?

[2022-10-03 14:57] edeno commented on #357
closed by PR #358

[2022-10-03 14:57] #357 closed

[2022-10-04 01:13] dpeg22 opened #359 "filter_type defaults to 'lowpass' in FirFilter table"
**Describe the bug**
Currently the `add_filter` method on `common_ephys.FirFilter` takes in a `filter_type` argument. There is also a foreign key on the FirFilter table `filter_type` that is `enum('lowpass', 'highpass', 'bandpass')`. The `add_filter` method creates a `filter_dict` variable that it passes to `insert1` on line 104. The `filter_type` is never added as a key to the `filter_dict`. Ther

[2022-10-04 02:45] #359 closed

[2022-10-10 22:28] MichaelCoulter opened #361 "sync deletion between SortInterval and IntervalList"
it would be great if when you delete an entry from SortInterval, the corresponding entry in IntervalList is also removed.
kyu said he can do this. thanks!

[2022-10-11 01:28] khl02007 commented on #361
Turns out this is not straightforward, because it is not possible to deduce from an entry in `SortInterval` the corresponding entry in `IntervalList` - the latter is only generated when `SpikeSortingRecording` is populated (the primary key `interval_list_name` is the name of the recording). But for your purpose (i.e. re-generating a recording) you need not worry because the entry in `IntervalList`

[2022-10-11 06:54] lfrank commented on #308
My guess is that upgrading pynwb and hdmf to the latest versions would solve this.

On Jul 30, 2022, at 7:19 PM, jguides ***@***.***> wrote:

﻿
I got the following error when trying to make a spikesorting recording for the file peanut20201114_.⁠​nwb.⁠​ Thanks in advance for any thoughts or help.⁠​ `write_binary_recording with n_jobs 1 chunk_size 156250000 OSError Traceback (most recent call
ZjQcmQ

[2022-10-11 07:06] lfrank commented on #243
The problem is likely that it loops through the over threshold indexes one by one. This could be done (I’m fairly sure) with much more efficient code that uses numpy operations on the time stamp array.

On May 4, 2022, at 6:12 PM, MichaelCoulter ***@***.***> wrote:

﻿
i made a pull request to increase the speed 2x, but it still is quite slow. — Reply to this email directly, view it on GitHub, or u

[2022-10-11 07:07] MichaelCoulter commented on #361
ah okay, thanks for looking into this. this information is helpful. for me, it is fine to leave things as they are.
i think since the IntervalList entries are replaced when you make a new recording, then maybe we don't need to worry about deleting entries when deleting from SortInterval.

[2022-10-11 07:24] lfrank commented on #295
Sorry, that had to do with an incorrect merge of one of my branches. You can remove that include_curation=True or use the sw_fix branch.

Pull request submitted.

On Jul 15, 2022, at 1:25 PM, emilymonroe95 ***@***.******@***.***>> wrote:

This Message Is From an External Sender
This message came from outside your organization.

Describe the bug
Currently, the URL generation is giving me an error d

[2022-10-17 18:52] zoldello opened #363 "Notebooks need to be fixed so they appear on the documentation"
**Describe the bug**
The markdown on the notebooks need to be adjusted to support the documentation

**To Reproduce**
Go to the documentation, many notebooks are not appearing. The issue should be fixed now

[2022-10-17 22:36] #363 closed

[2022-10-18 20:03] dpeg22 opened #365 "Paths in dj.config for analysis and raw can differ from Spyglass env vars"
**Describe the bug**
The dj config file stores paths to directories for raw and analysis NWB files that are referenced during `fetch` on the Nwbfile and AnalysisNwbfile tables. This does not change if a user changes their environment variables (e.g. `SPYGLASS_BASE_DIR`, `SPYGLASS_TEMP_DIR`, etc...) either through `os.environ` or their `bashrc`. This leads to an issue where any `fetch` call that re

[2022-10-26 19:01] rly opened #368 "SpikeInterface.toolkit deprecation warning"
**Describe the bug**

`import spyglass.spikesorting as sgs` results in:
[code]
as of spikeinterface 0.95. See their code https://github.com/SpikeInterface/spikeinterface/blob/b0cca914a25e775adee1f8ddbef980462a397c34/spikeinterface/toolkit/__init__.py

[2022-11-09 19:12] magland opened #376 "montague20200802.nwb has been deleted from dropbox"
The intro tutorial notebook refers to sample data, but when following the dropbox link

https://www.dropbox.com/s/srra33e0igaj5rm/montague20200802.nwb?dl=0

I find that the file "has been deleted".

[2022-11-09 19:27] magland opened #377 "directories need to be created prior to running tutorial notebooks"
The intro tutorial doesn't work unless I pre-create certain directories as in the following:

[code]

Either these should be auto-created, or the setup instructions should include this step.

[2022-11-12 16:20] xlsun79 opened #381 "No matching distribution found for spyglass-neuro"
Has anyone run into this issue when switching from the old spyglass (based on pip install -e .) to the new spyglass (based on our new documentation)? I deleted the old spyglass environment and the .git files in the old spyglass folder (so it's not a repo anymore) plus renamed the old spylass folder. Then I git gloned the new spyglass repo but still got this issue when installing spyglass-neuro
(ba

[2022-11-12 17:15] jguides commented on #381
Hey @xlsun79, I recently recreated my spyglass environment and had issues using pip install -e . on a remote machine (breeze), but was able to run the command successfully on my local machine. It might be worth trying running the pip install command that gave you issues from your local machine.

[2022-11-13 01:54] xlsun79 commented on #381
Thanks so much, Jen @jguides ! I'll try it on my local machine asap. Have you resolved it on our remote machine yet? Have you tried the new pip install spyglass-neuro comman?

[2022-11-14 19:29] jguides commented on #381
@xlsun79, things worked on the remote machine after installing on my local machine (I didn't need to do anything further). I have not used the new pip install spyglass-neuro command, however. I removed my old conda environment, renamed the old environment folder, recreated the environment from the yaml file after pulling spyglass, and ran pip install -e . hope things are working for you and let me

[2022-11-16 05:37] jguides opened #382 "nwb file object ID not returned for non dataframe objects"
When populating IntervalPositionInfo, I was getting an error related to an analysis nwb file object ID for head position data having not been defined in the table make function. It appears this was because the line to return the nwb file object ID for non pandas dataframe objects was commented out (line 330 of common_nwbfile, in the function add_nwb_object). After uncommenting out this line, the n

[2022-11-19 08:58] xlsun79 opened #383 "File not found when populating SpikeSortingRecording"
The raw data file couldn't be found when I ran
[code]

Same error for both the tutorial dataset and my dataset. I've made sure that the my keys exist in SpikeSortingRecordingSelection.

[2022-11-24 09:49] xlsun79 commented on #383
This error might be due to system update and was resolved after mounting stelmo on virga.

[2022-11-24 09:49] #383 closed